@model TCF.Channel.Zeo.Web.Models.CustomerLookUp
@{
    Func<TCF.Channel.Zeo.Web.Models.CustomerLookUp, object> DateofBirth =
        @<text>
            @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CustomerSearchDOB<span id="DOBRequired" class="mandatory">*</span>
        </text>;
}
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/encryption.js" language="JavaScript" type="text/javascript" id="pie_script"></script>
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/tcf/getkey.js" language="JavaScript" type="text/javascript"></script>
<center>
    <div class="page_head product_head float_left">
        Find TCF Customer
    </div>
    <div class="customerlookup_hdg">
    </div>
    <div class="error_align_center">
        <span id="validationMessage" class="field-validation-error"></span>
    </div>
    <div class="customerlookup_container col3 align_border_space">

        <div class="main_con_customer" style="margin-left:25px;">
            <!--<p align="left" class="align_para">Enter search criteria (at least two):</p>-->
            <p align="left" class="align_para" style="margin-left:-25px;">Enter the birthdate <i>and</i> only <u>one</u> of the other search options:</p>

            <div class="align_card_details">
                <div class="align_sub_details">
                    @Html.TextBoxFor(model => model.CVV, new { @class = "hide" })
                    @Html.LabelFor(model => model.CardNumber, new { @class = "align_customer_find label_text_Change" })
                    @Html.TextBoxFor(model => model.MaskCardNumber, new { @class = "input_box enter_card_num", tabindex = 1, @maxlength = "21"})
                    @Html.HiddenFor(model => model.CardNumber)
                    @Html.HiddenFor(model => model.ActualCardNumber)
                    @Html.HiddenFor(model => model.IsCompanionSearch)

                    <div class="error_align_left">
                        <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="MaskCardNumber" style="color:red;"></span>
                    </div>
                </div>

                <div class="align_swip_button">
                    <div class="float_left cust_swipe_btn">
                        <a class="anc_link_btn" href="" onclick="return showSwipeMsg()">Swipe Card</a>
                    </div>
                </div>
            </div>
            <div class="align_ssn">
                <div class="float_left customerlookup_col">
                    @Html.LabelFor(model => model.SSN, new { @class = "align_customer_find" })
                    @Html.TextBoxFor(model => model.SSN, new { @class = "input_box", tabindex = 2, id = "SSN", @maxLength = 11 })
                    <div class="error_align_left">
						<span class=" field-validation-valid" data-valmsg-replace="true" data-valmsg-for="SSN" id="SSNvalidationMessage" style="width: 200px; word-wrap: break-word"></span>
                        <input id="ActualSSN" name="ActualSSN" value="" type="hidden">
                    </div>
                </div>

                <div class="align_birth_date" style="float: left;width: 195px;">
                    <label class="row_label_txt">@DateofBirth(@Model)</label>
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "input_box", Tabindex = 3, @placeholder = "MM/DD/YYYY" })
                </div>
                <div class="valid_error" style="width: 300px; text-align: left; margin-top: -18px; word-wrap: break-word; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                    @Html.ValidationMessageFor(model => model.DateOfBirth)

                </div>
            </div>

            <div class="align_account">
                <div class="float_left customerlookup_col">
                    @Html.LabelFor(model => model.AccountNumber, new { @class = "align_customer_find" })
                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "input_box", Tabindex = 4, id = "Account", @maxLength = 18 })
                </div>

                @*//Commenting this Code for AL-677
                    //As TCF, I want to remove the need to select savings or checking when doing search by account*@
                @*<div class="align_acc_right">
                        @Html.LabelFor(model => model.AccountType, new { @class = "row_label_txt align_top0" })
                        <div class="align_app_radio_cont">
                            <input type="radio" name="AccountType" value="DDA" tabindex="5" class="align_radio" />
                            <label  class="row_label_txt">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.Checking</label></div>
                        <div class="align_app_radio_cont">
                            <input type="radio" name="AccountType" value="SAV" class="align_radio" />
                            <label class="row_label_txt">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.Saving</label>
                        </div>
                    </div>*@
                <div class="valid_error error_align_center">
                    <span id="validationMessageforAccount" class="field-validation-error"></span>
                </div>
            </div>

            <div class="align_button_customers">
                <div class="align_createnew">
                    <input id="btnNewCustomer" class="row float_left  anc_link_btn red_btn" value="Create New" type="submit" tabindex="6">
                </div>

                <div class="align_createfind">
                    <input id="criteriaSubmit" class="row float_left  confirmButton customerlookup_btn" value="Find" type="button" tabindex="5">
                </div>
            </div>

        </div>


    </div>
    <div id="NoRecords" class="apprCheck noRecords">
        @if (ViewBag.ErrorMessage != null)
        {
            @ViewBag.ErrorMessage
        }
    </div>
    <div id="griddiv">
        <div class="customerlookup_hdg float_left">
            Select the customer to register:
        </div>
        <div class="customerlookup_grid" id="divJqTable">
            <table id="jqTable" class="scroll"></table>
            <div id="jqTablePager" />
        </div>
    </div>
</center>