@model MGI.Channel.DMS.Web.Models.CheckPending
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckPending;
}
<script src="@Url.Content("~/Scripts/Check/Check.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <div>
        <ul class="page_head product_head">
            <li>Check Pending</li>
        </ul>
    </div>
    <br />
<div class="txt_center">
    <img id="CheckFrontImage" src="" class="check_img_fix"/>
    <img id="CheckBackImage" src="" class="check_img_fix" />
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            ShowCheckFrontImage("@Model.CheckFrontImage");
            ShowCheckBackImage("@Model.CheckBackImage");
        });
    </script>
</div>
<center class="field-validation-error txt_center row bold">
    @Model.CheckInProcessMessageDetails</center>
<center class="field-validation-error txt_center row" >
    @Model.CheckInProcessMessage</center>



@using (Html.BeginForm("CheckReSubmit", "CheckDeclined"))
{
    <div class="row_width30 check_declined_wrap">
        <ul>
            <li class="shift_left">
                <input type="submit" name = "Source" class="input_color" value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckCancelExitButton"/>
            </li>
       </ul>
       @Html.HiddenFor(model => model.NpsId)
    </div>
}
