@model  MGI.Channel.DMS.Web.Models.ProcessorCredentialViewModel
@{
	ViewBag.Title = "Enter Processor Credentials";	

}

<script type="text/javascript">
	var WarningURL = '@Url.Action("WarningPopUp", "Locations")';
	var CertergySiteIdRequired = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CertegySiteIdRequired';
	var CertegySiteIdStringLength = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CertegySiteIdStringLength';
	var MGIAgentIdRequired = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MGIAgentIdRequired';
	var MGIAgentIdStringLength = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MGIAgentIdStringLength';
	var MGIPosIdRequired = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MGIPosIdRequired ';
	var MGIPosIdMinValue = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MGIPosIdMinValue ';


</script>
	
<script src="@Url.Content("~/Scripts/Fund/processorCredential.js")" type="text/javascript"></script>
<div id="tabs">
	<ul>
		@foreach (var processor in Model.Processors)
		{
			var id = "#" + processor.ProcessorName;
			
			<li><a href=@id>@processor.ProcessorDisplayName</a></li>
		}
	</ul>


   @foreach (var processor in Model.Processors)
   {
	 var formName = "form" + processor.ProcessorName + "Credential";

	 List<MGI.Channel.DMS.Web.Models.ProcessorCrendential> credentials = Model.Credentials;

	 MGI.Channel.DMS.Web.Models.ProcessorCrendential credential = credentials.Find(c => c.ProviderID == processor.ProcessorId);

	 if (credential == null)
	 {
		 credential = new MGI.Channel.DMS.Web.Models.ProcessorCrendential();
	 }

	 

	 using (Html.BeginForm("SaveProcessorCredential", "Locations", FormMethod.Post, new { Id = formName }))
	 {
		 credential.ProviderID = processor.ProcessorId;
		 credential.LocationID = Model.LocationID;
			
			<div id="@processor.ProcessorName">
				@Html.Partial("_partial" + @processor.ProcessorName + "Credential", credential)
			</div>
		}
	}
		
</div>
