@model MGI.Channel.DMS.Web.Models.CashACheck
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CashaCheck;   
}


<script src="@Url.Content("~/Scripts/Check/Check.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CashACheckPost", "CashaCheck"))
{

    <div>
        <ul class="page_head product_head">
            <li>Re-Scanning a Check</li>
        </ul>
    </div>
    
     <div >
        <ul class="page_head product_head check_band">
            <li>Place the check in the scanner</li>
        </ul>
    
    </div>
        
    @Html.ValidationSummary(true)
    <center>
        @{var uniqueId = Guid.NewGuid().ToString();}
                <script language="javascript" type="text/javascript">
                    $(document).ready(function () { ScanCheck(NPSbaseURL, '@uniqueId') });
        </script>
   
        <div align="center" class="error_txt">@ViewBag.ExceptionMessage</div>
        <div>
        
        <div>
            <img id="CheckImage" alt=" " src="@Url.Content("~/Content/images/CheckScanInstruction.JPG")" class="scan_inc_img" />
        </div>

            @Html.Partial("_CheckDetails", Model)
   
        </div>
        <div class="nextAndBackButton">
            <ul>
@*                <li>
                    <input type="button"  value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.OkButtonText" onclick ="ScanCheck('@baseURL','@uniqueId');"/></li>
                <li>
                    <input type="button" value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CancelButtonText"  id="CancelTransaction" /></li>*@
                <li>
                    <input type="submit" value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SubmitButtonText" id="Send" class="hide" /></li>
            </ul>
        </div>
    </center>   
}