@model MGI.Channel.DMS.Web.Models.CheckTransaction
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.RescanCheck;
}
<link href="../../Content/css/Common/jquery-ui.css" rel="stylesheet" type="text/css" />
@*<center>
    <h2>@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckAmount</h2>
</center>*@
<div class="main_div">
    <div class="name_area">
        @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckCashingFee</div>
    <div class="txt_left">
        @Html.TextBoxFor(Model => Model.CheckCashingFee, new { @class = "TxtDisable", @disabled = "disabled", autocomplete = "off" })
    </div>
</div>
<div class="main_div">
    <div class="name_area">
        @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.AmountCreditedAccount </div>
    <div class="txt_left">
        @Html.TextBoxFor(Model => Model.AmountCredited, new { @class = "TxtDisable", @disabled = "disabled", autocomplete = "off" })
    </div>
</div>
<div class="btnCancel">
    <button id="CancelTransaction" type="button">
        @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CancelButtonText</button>
</div>
