@model MGI.Channel.DMS.Web.Models.ShoppingCartItemModel
@{
    ViewBag.Title = "TransactionSummary";
}
<script src="@Url.Content("~/Scripts/Common/AgentMenu.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ShoppingCart/ShoppingItemDisplay.js")" type="text/javascript"></script>
<div>
    <ul class="page_head product_head">
        <li>Transaction Summary</li>
    </ul>
</div>

@using (Html.BeginForm())
{
    <table class="transaction_sum_wrap">
        <tr class="sum_grid_head">
            <th class="sum_grid_txt"> Description </th>
            <th class="sum_grid_txt"> Amount </th>
            <th class="sum_grid_txt"> Fee </th>
            <th class="sum_grid_txt"> Total </th>
            <th class="sum_grid_txt"> Action </th>
        </tr>
        @{ string amountClass = @Model.TransactionType == "d" ? "Red" : "Black";
            <tr class="row_odd">
                <td class="desc_wrap">
                    @*<a id="aDescription">*@  @*onclick = "displayitemdetails('@Model.CheckID','@Model.SummaryTitle', '@Model.Status');"*@
                        @Model.Description@*</a>*@
                </td>
                <td class="txt_center">
                    $@Model.Amount.ToString("0.00")
                </td>
				@{
					if (Model.DiscountApplied > 0)
					{
					<td class="txt_center">
						$@Model.NetFee.ToString("0.00")<span style="color:Red;">*</span>
					</td>
					}
					else { 
					<td class="txt_center">
						$@Model.Fee.ToString("0.00")
					</td>
					}
				}
                <td class="txt_center">
                    $@Model.NetAmount.ToString("0.00")
                </td>
                <td class="txt_center del_cart">
                    @Html.ActionLink("   ", "DeleteShoppingCartItem", "ShoppingCart", new { id = @Model.CheckID, name = "Summary", product = @Model.Service }, new { @class = "del_img", id = @Model.CheckID, name = "Summary", product = @Model.Service })
                </td>
                @Html.HiddenFor(model => model.checkImage)
            </tr>
        }
    </table>
    <br />

}
<script type="text/javascript">
    $('#dropdown1').hover(function () {
        if (document.getElementById("checkTrans") == null) {
            $(this).find('.sub_navigation').show();
        } else { $(this).find('.sub_navigation').hide(); }
    });

    $('#dropdown1').mouseleave(function () {
        $(this).find('.sub_navigation').hide();
    });

</script>
