@model MGI.Channel.DMS.Web.Models.BaseModel
@{
	object str = TempData["TempPassword"];
	bool isAdminRole = (Convert.ToInt32(HttpContext.Current.Session["UserRoleId"]) == (int)UserRoles.SystemAdmin);
	string linkDisableClass = string.Empty;
	string menuLeft = string.Empty;

	bool isTerminalSetupMenu = false;
	if (Session["IsTerminalSetup"] != null)
	{
		isTerminalSetupMenu = Session["IsTerminalSetup"].ToString() == "1" ? true : false;
	}

	if (!isTerminalSetupMenu && !isAdminRole)
	{
		linkDisableClass = "disableLink";
		menuLeft = "nav_item_over";
	}
	else
	{
		menuLeft = "nav_item";
	}
}
<ul class="menuClass" id="selection">
	<li class="nav_head nav_icon_home">
		@Html.ActionLink("Home", "CustomerSearch", "CustomerSearch", null, new { @class = linkDisableClass })
	</li>
	@if (Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.Teller || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.SystemAdmin || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.Manager || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.ComplianceManager || Convert.ToInt32((Session["UserRoleId"])) != (int)UserRoles.Tech)
	{
		if (Session["activeButton"] != null && Session["activeButton"] == "newcustomer")
        {
            <li class="nav_item_select nav_icon_customer">
                @Html.ActionLink("New Customer", "PersonalInformation", "CustomerRegistration", new { }, new { @class = "nav_name " + linkDisableClass })
            </li>
        }
        else
        {
            <li class="nav_item nav_icon_customer_dis">
                @Html.ActionLink("New Customer", "PersonalInformation", "CustomerRegistration", new { }, new { @class = "nav_name " + linkDisableClass })
            </li>
        }
    }
	@if (Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.SystemAdmin || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.Tech)
	{
		if (Session["activeButton"] != null && Session["activeButton"] == "Locations")
		{
			<li class="nav_item_select nav_icon_location">
				@Html.ActionLink("Location", "EnterNewLocation", "Locations", new { }, new { @class = "nav_name " + linkDisableClass })
			</li>
		}
		else
		{
			<li class="nav_item nav_icon_location_dis">
				@Html.ActionLink("Location", "EnterNewLocation", "Locations", new { }, new { @class = "nav_name " + linkDisableClass })
			</li>
		}
	}
	@if (Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.SystemAdmin || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.Manager || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.Tech)
	{
		<li id="hardwareNthl" class="nav_item nav_icon_hardware_dis">
			<a id="hardware_txt"
			   href="#" class="nav_name">Hardware</a>
			<ul class="sf-menu sf-vertical sub_nav">
				<li id="liTerminal" class="nav_item nav_icon_terminal_dis">
					@Html.ActionLink("Terminal", "TerminalSetup", "TerminalSetup", new { }, new { @class = "submenuNames" })
				</li>
				<li id="liPeripheralServer" class="nav_item nav_icon_pserver_dis">
					@Html.ActionLink("Peripheral Server", "ShowDownloaderOption", "Download", new { }, new { @class = "submenuNames" })
				</li>
				<li id="liDiagnostics" class="nav_item nav_icon_diagnostics_dis">
					@Html.ActionLink("System Status", "DiagnosticInfo", "DiagnosticInfo", new { }, new { @class = "submenuNames" })
				</li>
				<li id="liDetailedDiagnostics" class="nav_item nav_icon_diagnostics_dis">
					@Html.ActionLink("Epson Diagnostics", "EpsonDiagnostics", "TerminalSetup", new { }, new { @class = "submenuNames" })
				</li>
				<li id="liDetailedDiagnostics" class="nav_item nav_icon_diagnostics_dis">
					@Html.ActionLink("Receipt Print Test", "ReceiptPrintTest", "TerminalSetup", new { }, new { @class = "submenuNames" })
				</li>
				<li id="liDetailedDiagnostics" class="nav_item nav_icon_diagnostics_dis">
					@Html.ActionLink("Scan Check Test", "ScanCheckTest", "TerminalSetup", new { }, new { @class = "submenuNames" })
				</li>
				<li id="liDetailedDiagnostics" class="nav_item nav_icon_diagnostics_dis">
					@Html.ActionLink("Money Order Print Test", "MoneyOrderTest", "TerminalSetup", new { }, new { @class = "submenuNames" })
				</li>
			</ul>
		</li>
	}
	@if (Session["activeButton"] != null && Session["activeButton"] == "transhistory")
	{
		<li class="nav_item_select nav_icon_transhistory">
			@Html.ActionLink(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.TransactionHistory, "GetAgentTransactionHistory", "TransactionHistory", new { }, new { @class = "nav_name " + linkDisableClass })
		</li>
	}
	else
	{
		<li class="nav_item nav_icon_transhistory_dis">
			@Html.ActionLink(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.TransactionHistory, "GetAgentTransactionHistory", "TransactionHistory", new { }, new { @class = "nav_name " + linkDisableClass })
		</li>
	}
</ul>
