@model TCF.Channel.Zeo.Web.Models.PersonalInformation
@{
    ViewBag.Title = "Personal Information";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<script src="@Url.Content("~/Scripts/Customer/PersonalInfo.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<div align="center">
    <img src="~/Content/images/Profile.png" usemap="#Map" /></div>
<h2 align="center">
    Personal Information</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Partial("_PersonalInformation", Model)
    @Html.Partial("_PersonalInfoNavigation")
}
