@model TCF.Channel.Zeo.Web.Models.CheckDeclinedReasons
@{
    ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CheckAmountTitle;       
}
<script src="@Url.Content("~/Scripts/Check/Check.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ShoppingCart/PrintReceipt.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
	var isDeclinedCheck = '@Model.PrintReceiptOnDecline';
	var checkDeclinedTransactionId = '@Model.CheckId';
	$(document).ready(function () {
	   CheckDeclinedReceiptPrint();
	});
</script>

<div>
    <ul class="page_head product_head">
        <li class="flaot_left">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CheckProcessingFollowup</li>
    </ul>
</div>
<br />
@using (Html.BeginForm("CheckReSubmit", "CheckDeclined"))
{
 
<div class="check_decline">   
    <div class="row">
        <div>
            @Html.LabelFor(model => model.CheckDate, new { @class = "row_label_txt" })
            @Html.TextBoxFor(model => model.CheckDate, new { @class = "disable_txt", id = "CheckDate", @placeholder = "MM/DD/YYYY", readOnly = true })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.CheckDate)
        </div>
    </div>

    <div class="row">
        <div>
            <label class="row_label_txt">@Html.DollarField(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyAmount)</label>
            @Html.TextBoxFor(model => model.CheckAmount, new { @class = "disable_txt", readOnly = true })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.CheckAmount)
        </div>
    </div>
    <div class="row">
        <div>
            @Html.LabelFor(model => model.CheckType, new { @class = "row_label_txt" })
            @Html.DropDownListFor(model => model.CheckType, Model.LCheckTypes, new { style = "background-color: #eff1ef", @class = "dropdown_box", @disabled = "disabled" })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.CheckType)
        </div>
    </div>
    <div class="row">
        <div>
            @Html.LabelFor(model => model.CheckEstablishmentFee, new { @class = "row_label_txt"})
            @Html.TextBoxFor(model => model.CheckEstablishmentFee, new { @class = "disable_txt", readOnly = "true" })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.CheckEstablishmentFee)
        </div>
    </div>
    
    
    
    
    <div class="nextAndBackButton hide">
        <ul>
            <li>
                <input id="ok" type="submit" value="ok" />
            </li>
        </ul>
        @Html.Partial("_CheckDetails", Model)
    </div>
     
        
    <center class="field-validation-error txt_center row bold">
        @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CheckProcessingMessage : Check was @Model.CheckStatus</center>
    
    
    <center class="field-validation-error txt_center row bold">
        @Model.CheckDeclinedReasonDetails</center>
    <center class="field-validation-error txt_center row">
        @Model.CheckDeclinedReason</center>
    
    @if(Model.isRepresentable) {
    // re-submit button  - activate check scanner
    <div class="active_scan_wrap">
        <ul>
            <li> <input type="button" id="CancelTransaction" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CancelButtonText" class="btn_txt" /> </li>
            <li> <input type="submit" name = "Source" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ResubmitButtonText"  class="btn_txt" /> </li>
        </ul>
    </div>
    
    }
    else {
    // exit button - 
    <div class="nextAndBackButton">
        <ul>
            <li class="submit_btn_wrap">
                <input type="submit" name = "Source" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CheckCancelExitButton"/>
            </li>
        </ul>
    </div>
    }
</div>
}



