@model TCF.Channel.Zeo.Web.Models.Receivers
@{
	ViewBag.Title = "EditReceiver";
	Layout = "~/Views/Shared/_Common.cshtml";    
}
<script type="text/javascript">
    var editReceiverJqDataUrl = '@Url.Action("SearchReceiverGrid", "SendMoney")';
    var reloadGridURL = '@Url.Action("SearchReceiverGrid", "SendMoney")';
</script>
@using (Html.BeginForm("SearchReceiver", "SendMoney", FormMethod.Post))
{
<div>
    <ul class="page_head product_head">
        <li class="banner_txt">Edit Receiver-Select Receiver</li>
    </ul>
</div>

<div>
    <p class="edit_receiver_ldl">Search for Receiver</p>
</div>
<div class="row">
    <div>
        @Html.LabelFor(model => model.LastName, new { @class = "row_label_txt" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "input_box", id = "ReceiverSearch" })
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
</div>
<div class="find_receiver_wrap">
    <ul>
        <li>
            <input type="submit" id="FindReceiver" value="Find" />
        </li>
    </ul>
</div>
    
<div class="clear_both">
    <p class="edit_receiver_ldl">Select Receiver</p>
    <div id="griddiv">
        <table id="jqTable" class="scroll"> </table>
        <div id="jqTablePager"> </div>
    </div>
</div>
}
<script src="@Url.Content("~/Scripts/SendMoney/editReceiver.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>

