@model TCF.Channel.Zeo.Web.Models.CashACheck
@{
	ViewBag.Title = "Check MICR";
	Layout = "~/Views/Shared/_Common.cshtml";
}

@using (Html.BeginForm("CheckDetailsPost", "CertegyProcessCheck"))
{
	<div>
		<div>
			<ul class="page_head product_head">
				<li>Check MICR</li>
			</ul>
		</div>
		<label class="row_label_txt">
			@Html.LabelFor(model => model.RoutingNumber, @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MICRInformationScanned)
		</label>
		<br/>
		<br/>
		<br />
		<div class="row">
			<div>
				<label class="row_label_txt">
					@Html.LabelFor(model => model.RoutingNumber, @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.RoutingNumber)
				</label>
				@Html.TextBoxFor(model => model.RoutingNumber, new { @class = "input_box", @readonly="readonly"})
				@Html.HiddenFor(model => model.CheckLimit)
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.RoutingNumber)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">
					@Html.LabelFor(model => model.AccountNumber, @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.AccountNumber)
				</label>
				@Html.TextBoxFor(model => model.AccountNumber, new { @class = "input_box", @readonly = "readonly" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.AccountNumber)
			</div>
		</div>

		<div class="row">
			<div>
				<label class="row_label_txt">
					@Html.LabelFor(model => model.CheckNumber, @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CertegyCheckNumber)
				</label>
				@Html.TextBoxFor(model => model.CheckNumber, new { @class = "input_box", @readonly = "readonly" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.CheckNumber)
			</div>
		</div>
		<div id="errorMessage" class="checkScanError">@Model.MicrErrorMessage</div>
		<div id="divAdd" class="btn_wrap">
			<ul>
				<li>@Html.ActionLink("Re-Scan", "CheckReScan", "CertegyProcessCheck", null, new { @class = "anc_link_btn red_btn" })</li>
				<li> <input type="submit" disabled="@Model.IsDisabled" value="Next" /> </li>
			</ul>
		</div>
	</div>
	@Html.HiddenFor(m => m.CheckNumber)
	@Html.HiddenFor(m => m.AccountNumber)
	@Html.HiddenFor(m => m.RoutingNumber)
	@Html.HiddenFor(m => m.NpsId)
	@Html.HiddenFor(model => model.MICRCode)
}
