@model MGI.Channel.DMS.Web.Models.ProductCredentialViewModel

@{
	ViewBag.Title = "AssociateCard";
	Layout = "~/Views/Shared/_Common.cshtml";
}
<script src="@Url.Content("~/Scripts/Fund/Visa.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Fund/Gprs.js")" type="text/javascript"></script>
<script type="text/javascript">	
	
	var Success = '@ViewBag.CardSuccessfulAssociated';
	if (Success) {
		var url = '@Url.Action("AssociateCardConfirmation", "VISAProductCredential")';
		ShowPopUp(url, "System Message", 300, 120);
	}

</script>

@using (Html.BeginForm("AssociateCard", "VISAProductCredential", FormMethod.Post))
{

	<div>
		<ul class="page_head product_head">
			<li>@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.AssociateCard</li>
		</ul>
	</div>

	<div class="row2" style="margin-top:30px;margin-bottom:40px;">
		<div class="row_col1 bold">Enter card number:</div>
		<div class="row_col2">
			@Html.TextBoxFor(model => model.MaskCardNumber, new {  @class = "input_box enter_card_num",  @maxlength = "19", style = "width:100%;" })
			@Html.TextBoxFor(model => model.CardNumber, new { @class = "hide" })
			@Html.HiddenFor(model => model.customerSession.CustomerSessionId)
			@Html.HiddenFor(model => model.CVV)
			<div class="valid_error">
				@Html.ValidationMessageFor(model => model.MaskCardNumber)
			</div>
		</div>
		<div class="row_col3" style="margin-top:-4px;">
			<a class="anc_link_btn" href="" onclick="return showSwipeMsg()">Swipe Card</a>
			<input type="hidden" value="true" id="NewCustomer" />
		</div>
	</div>

	<br /><br /><br /><br />
	<div class="profile_btn_wrap product_credential">
		<ul>
			<li class="row_width30">
				@Html.ActionLink("Cancel", "ProductCredential", "ProductCredential", new { @class = "anc_link_btn cancelBillPayReview red_btn" })
			</li>
			<li class="row_width30 submit_btn">
				<input type="submit" value="Submit" />
			</li>
		</ul>
	</div>
}
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/pie/v1/encryption.js" language="JavaScript" type="text/javascript" id="pie_script"></script>
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/pie/v1/mgi/getkey.js" language="JavaScript" type="text/javascript"></script>



