@model MGI.Channel.DMS.Web.Models.ShoppingCartCheckout
@{
    ViewBag.Title = "CardTransactionSummary";
}
<script src="@Url.Content("~/Scripts/Common/AgentMenu.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Check/CheckChashing.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{        
    <table class="card_Trans_summary">
        <tr class="sum_grid_head">
            <th class="sum_grid_txt"> Description </th>
            <th class="sum_grid_txt"> Amount </th>
            <th class="sum_grid_txt"> Fee </th>
            <th class="sum_grid_txt"> Total </th>
            <th class="sum_grid_txt"> Action </th>
        </tr>
        @foreach (var row in Model.CartItems)
        {
            string cssClass = "";
            if (Model.CartItems.IndexOf(row) % 2 == 1)
            {
                cssClass = "row_even";
            }
            else
            {
                cssClass = "row_odd";
            };

			string amountClass = @row.TransactionType == "d" ? "Red" : "Black";
			string amount = row.Amount == 0 ? "" : "$" + row.Amount.ToString("0.00");
			string netAmount = row.NetAmount == 0 ? "" : "$" + row.NetAmount.ToString("0.00");
                                
            <tr class=@cssClass>
                <td class="amt_desc">
                        @row.Description
                </td>
                <td class="txt_center"> @amount </td>
                <td class="txt_center"> $@row.Fee.ToString("0.00") 
		@{
			if (row.DiscountApplied > 0)
			{
				<span style="color:Red;">*</span>
			}
		}
		 </td>

                <td class="txt_center"> @netAmount </td>
                <td class="txt_center check_id">
                    @Html.ActionLink("   ", "DeleteShoppingCartItem", "ShoppingCart", new { id = @row.CheckID, name = "Summary" }, new { @class = "del_img", id = @row.CheckID, name = "Summary", product = @row.Service })
                </td>
            </tr>
        }
    </table>
    <br />
}
<script type="text/javascript">
    $('#dropdown1').hover(function () {
        if (document.getElementById("checkTrans") == null) {
            $(this).find('.sub_navigation').show();
        } else { $(this).find('.sub_navigation').hide(); }
    });

    $('#dropdown1').mouseleave(function () {
        $(this).find('.sub_navigation').hide();
    });

</script>
