@model MGI.Channel.DMS.Web.Models.CheckCashingProgress
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckCashingProgress;
}
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CheckStatusProcessor", "CheckCashingPrg", FormMethod.Post))
{
    @Html.Partial("_partialspinner")
    <input type="hidden" id="PanelStatus" value="1" />	
    <div>
        <ul class="page_head product_head">
            <li>Processing Check</li>
        </ul>
    </div>    
    <br />

    <div align="center" class="error_txt">@ViewBag.ExceptionMessage</div>
    <br />
    <div class="txt_center">
     
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                showSpinner();
                if ("@Model.CheckSubmitted" == "false")
                    $("#ok").trigger("click");
                else if ("@Model.CheckSubmitted" == "true") {
                    hideSpinner();
                    $("#CancelTransaction").show();
                }
            });
        </script>
    </div> 
    <br />
    <div>
        <p class="txt_center bold">
            One Moment Please
        </p>
        <br />
    </div>      
    <p class="txt_center">
        Processing Check for $ @Model.CheckAmount</p> 
    <br />
    <div id="spinner" class="spinner hide text_center">
        <img id="img-spinner" src="~/Content/images/spinner_squares_circle.gif" alt="Loading" />
    </div>
       
    <div class="nextAndBackButton hide">
        <ul>
            <li>
                <input id="ok" type="submit" value="ok" />
            </li>
        </ul>
        @Html.Partial("_CheckCashingProgress", Model)
    </div>
    <div class="cancel_tran_wrap">
        <input id="CancelTransaction" value="Cancel" class="hide" type="button" />
    </div>
    
}
