@model MGI.Channel.DMS.Web.Models.CheckDeclinedReasons
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckAmountTitle;   
    
}

<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Check/Check.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newFee = '@ViewBag.ModifiedFee';
        var oldFee = '@ViewBag.OriginalFee';
        var checkId = '@Model.CheckId';
        if (newFee > oldFee)
        {
            feeChangePopUp(oldFee, newFee, checkId)
        }
    });
</script> 
<script src="@Url.Content("~/Scripts/ShoppingCart/CheckOutSuccess.js")" type="text/javascript"></script>
<div>
    <ul class="page_head product_head">
        <li class="float_left">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckProcessingFollowup</li>
    </ul>
</div>
<br />

<script type="text/javascript">
	$(document).ready(function () {
		var isApproved = '@ViewBag.IsApproved';
		if (isApproved == 'True') {
			ShowCertegyConfirmationPopup(isApproved);
		}
	});
</script>

@using (Html.BeginForm("ReClassified", "CheckReClassified"))
{
<input type="hidden" id="PanelStatus" value="1" />
<div class="check_reclassified_wrap">      
    <div align="center" class="error_txt">@ViewBag.ExceptionMessage</div>
   
    <div class="row">
        <div>
            @Html.LabelFor(model => model.CheckDate, new { @class = "row_label_txt"})
            @Html.TextBoxFor(model => model.CheckDate, new { @class = "disable_txt", readOnly = "true", id = "CheckDate", @placeholder = "MM/DD/YYYY" })
        </div>
    </div>
            
    <div class="row">
        <div>
            <label class="row_label_txt">@Html.DollarMandatoryField(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ProcessCheckAmount)</label>
            @Html.TextBoxFor(model => model.CheckAmount, new { @class = "disable_txt", readOnly = "true" })
        </div>
    </div>
    <div class="row">
        <div>
            @Html.LabelFor(model => model.CheckType, new { @class = "row_label_txt"})
            @Html.TextBoxFor(model => model.CheckType, new { @class = "disable_txt", readOnly = "true" })
        </div>
    </div>
    <div class="row">
        <div>
            @Html.LabelFor(model => model.CheckEstablishmentFee, new { @class = "row_label_txt"})
            @Html.TextBoxFor(model => model.CheckEstablishmentFee, new { @class = "disable_txt", readOnly = "true" })
        </div>
    </div>
    <div class="row">
        <div>
            <label class="row_label_txt">@Html.LabelFor(model => model.PromotionCode)</label>
            @Html.TextBoxFor(model => model.PromotionCode, new { @class = "textarea disable_txt", readOnly = "true" })
        </div>
        <div id="promodiv" class="error_align_left">
            <span id="promocode" class="error_txt"></span>
        </div>
    </div>
    <div class="row">
        <div>
            <label class="row_label_txt">@Html.LabelFor(model => model.DiscountName)</label>
            @Html.TextAreaFor(model => model.DiscountName, 4, 69, new { @class = "textarea disable_txt", readOnly = "true" })
        </div>
        <div class="errorDisplay ieCheckValidation">
            @Html.ValidationMessageFor(model => model.DiscountName)
        </div>
    </div>
    <div class="row">
        <div>
            <label class="row_label_txt">@Html.LabelFor(model => model.DiscountApplied)</label>
            @Html.TextBoxFor(model => model.DiscountApplied, new { @class = "input_box disable_txt", readOnly = "true" })
        </div>
        <div class="error_align_left ieCheckValidation">
            @Html.ValidationMessageFor(model => model.DiscountApplied)
        </div>
    </div>
    <div class="nextAndBackButton hide">
        <ul>
            <li>
                <input id="ok" type="submit" value="ok" />
            </li>
        </ul>
        @Html.Partial("_CheckDetails", Model)
    </div>
     
        
    <br />
    <center class="field-validation-error txt_center row bold">
        @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckProcessingMessage : Check
			was @Model.CheckStatus
		</center>
    
    
    <center class="field-validation-error txt_center row bold">
			@Model.CheckDeclinedReasonDetails
		</center>
    <center class="field-validation-error txt_center row">
			@Model.CheckDeclinedReason
		</center>
    <br />
    <center class="cart_status">
        @Model.CheckPromotionDetails
    </center>
    <br />
    
    <div class="cancel_check_wrap">
        <ul>
            <li>
                @Html.ActionLink("Cancel", "CancelCheck", "CheckReClassified", new { checkId = @Model.CheckId }, new { @class = "anc_link_btn cancel_btn_color" })
            </li>
            <li class="row_width30">
                <input type="submit" name = "Source" value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.Continue"/>
            </li>
        </ul>
    </div>
</div>
}
