@model MGI.Channel.DMS.Web.Models.AccountBalance
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.GPRCards;
}
<script src="@Url.Content("~/Scripts/ShoppingCart/PrintReceipt.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<div class="main_div">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <center class="thank_you">
        <b>@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ThankYou</b>
    </center>
    <br />
    <center>
        <span class="status_msg">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ThankYouMessage</span></center>
    <br />
    <div class="main_div">
        @{var uniqueId = Guid.NewGuid().ToString();}

        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                var printParams = {UniqueId:"@uniqueId",
                                    KioskName : "", 
                                    Location:"@Session["Location"].ToString()",
                                    ChannelPartnerName:"@Model.ChannelPartnerName",
                                    TransactionIDValue:"@Model.CheckId",
                                    TransactionDateValue:"@DateTime.Now.ToString("MM-dd-yyyy hh:mm:ss")",
                                    CheckAmountValue:"$@Model.CheckAmount.ToString("#0.00")",
                                    NexxoCardBalanceValue:"$@Model.AccountBalanceAmount.ToString("#0.00")",
                                    CardHolderValue:"@Model.customerSession.Customer.PersonalInformation.FName @Model.customerSession.Customer.PersonalInformation.LName",
                                    CheckDateValue:"@Model.CheckSubmissionDate.ToString("MM-dd-yyyy hh:mm:ss")",
                                    CardNoValue:"@Model.customerSession.Customer.Fund.CardNumber",
                                    ReceiptNoValue:"@Model.customerSession.CustomerSessionId",
                                    TotalAmount:"$@Model.NetAmount.ToString("#0.00")",
                                    FeeAmount:"$@Model.CheckCashingFee.ToString("#0.00")",
                                    ReceiptType:"CashCheckReceipt"
                                    };
                PrintReceipt(NPSbaseURL, printParams); 
            });
        </script>
        <div class="name_area">
            <h6>@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.AccountBalance</h6></div>
            <br />
        <div class="txt_left row5 gprcard_amt_wrap">
            @Html.TextBoxFor(model => model.AccountBalanceAmount, new { @class = "TxtDisable", @readonly = true, Value = String.Format("{0:0.00}", Model.AccountBalanceAmount)})
        </div>
    </div>
    <br />
    <br />
    <div class="btnDone"  align="center">
        <button id="CancelTransaction" type="button" class="btn_txt">
            @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.DoneButtonText</button>
    </div>
</div>
