@model MGI.Channel.DMS.Web.Models.PinDetails

@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PinDetails;
    Layout = "~/Views/Shared/_Menu.cshtml";
   
}

<script src="@Url.Content("~/Scripts/Customer/pinDetails.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/BaseCustomerValidator.js.axd")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/" + @Model.ChannelPartnerName + "CustomerValidator.js.axd")" type="text/javascript"></script>

<div align="center"><img src="~/Content/images/PinDetails.png"  usemap="#@Model.ChannelPartnerName"/></div>
@using (Html.BeginForm("PinDetails", "CustomerRegistration", FormMethod.Post, new { id = "frmPinDetails" }))
{
    @Html.Partial("_PinDetails", Model)
    @Html.Partial("_PinNavigation")
} 
