@model MGI.Channel.DMS.Web.Models.ReceiveMoney
@{
    ViewBag.Title = "ReceiveMoney";
}
 
<script type="text/javascript">

    $(document).ready(function () {
        $("#WesternUnionMTCN").keypress(function (e) {
            var enterKey = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            var regexNumeric = /^\d*$/;
            if (regexNumeric.test(enterKey)) {
                return true;
            }
            e.preventDefault();
            return false;
        });

        $('#WesternUnionMTCN').mask("999-999-9999");
    });
</script>

@using (Html.BeginForm("ReceiverMoneyDetails","ReceiveMoney"))
{
<div>
    <ul class="page_head product_head">
        <li class="banner_txt">Receive Money</li>
     </ul>
</div>
    
<div class="row">
    <div>
        <label class="row_label_txt"> @Html.RequiredField(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.RecieveMoneyWesternUnionMTCN)</label>
        @Html.TextBoxFor(model => model.WesternUnionMTCN, null, new { @class = "txt_box", @maxlength = "12", @title = @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.Tooltip_MTCNNumber, @placeholder = "###-###-####" })
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.WesternUnionMTCN)
    </div>
</div>
<div  class="receive_money_btn">
    <ul>
        <li class="row_width30">
			<input type="submit" value="Submit" />
		</li>
            
    </ul>
</div>	
<div class="clear_both">
</div>
}   