@model MGI.Channel.DMS.Web.Models.CashACheck
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CashaCheck;
}
<script src="@Url.Content("~/Scripts/Check/Check.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
@Html.Partial("_partialSpinner")
@using (Html.BeginForm("CashACheckPost", "CashaCheck"))
{
    <div>
        <ul class="page_head product_head">
            <li>Scan Check</li>
        </ul>
    </div>
    <div id="processCheck" class="txt_center">
        <div class="page_head product_head">
            <ul>
                <li>Place the check upright in the scanner with front of check facing out</li>
            </ul>
        </div>
        @{var uniqueId = Guid.NewGuid().ToString();}
        <div align="center" class="error_txt">@ViewBag.ExceptionMessage</div>
        <div class="msg_statement">
            <div>
                <img id="CheckImage" alt="checkimage " src="@Url.Content("~/Content/images/CheckScanInstruction.JPG")"/>
            </div>
            @Html.Partial("_CheckDetails", Model)
        </div>
        <div class="row_width30">
            <ul class="scan_check_wrap">
                <li class="row_width30 next_shift_fix"> <input type="button" id="btnNext" value="Next" onclick="ScanCheck(NPSbaseURL, '@uniqueId')" class="green_input"/> </li>
                <li class="submit_shift_fix"> <input type="button" value="CustId" onclick="CaputureCust();" class="hide" /> </li>
                <li class="submit_shift_fix"> <input type="submit" value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SubmitButtonText" id="Send" class="hide" /> </li>
            </ul>
        </div>
    </div>
}
