@model MGI.Channel.DMS.Web.Models.ShoppingCartCheckout
@{
    ViewBag.Title = "SendMoneyModifyCardTransactionSummary";
}
<script src="@Url.Content("~/Scripts/Common/AgentMenu.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ShoppingCart/ShoppingItemDisplay.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{        
    <table class="card_Trans_summary">
        <tr class="sum_grid_head">
            <th class="sum_grid_txt">
                Description
            </th>
            <th class="sum_grid_txt">
                Amount
            </th>
            <th class="sum_grid_txt">
                Fee
            </th>
            <th class="sum_grid_txt">
                Total
            </th>
            <th class="sum_grid_txt">
                Action
            </th>
        </tr>
        @foreach (var row in Model.CartItems)
        {           
            string cssClass = "";
            if (Model.CartItems.IndexOf(row) % 2 == 1)
            {
                cssClass = "row_even";
            }
            else
            {
                cssClass = "row_odd";
            };           
            string amount = row.Amount == 0 ? "" : "$" + row.Amount.ToString("0.00");
            string netAmount = row.NetAmount == 0 ? "" : "$" + row.NetAmount.ToString("0.00");
            string Flag = row.TransactionType;

            if (Flag == "c")
            {              
            <tr class=@cssClass>
                <td class="amt_desc">                
                    @row.Description@*</a>*@
                </td>

                <td class="txt_center">
                    @amount
                </td>
                <td class="txt_center">
                    $@row.Fee.ToString("0.00")
                </td>
                <td class="txt_center">
                    @netAmount
                </td>
                <td class="txt_center check_id">
                    @Html.ActionLink("   ", "DeleteShoppingCartItem", "ShoppingCart", new { id = @row.CheckID, name = "Summary", product = @row.Service }, new { @class = "del_img", id = @row.CheckID, name = "Summary", product = @row.Service })
                </td>
            </tr>
            }
            else if (Flag == "d")
            {                
            <tr class=@cssClass>
                <td class="amt_desc">                  
                    @row.Description@*</a>*@
                </td>
                <td class="txt_center error_txt">
                    @amount
                </td>
                <td class="txt_center error_txt">
                    $@row.Fee.ToString("0.00")
                </td>
                <td class="txt_center error_txt">
                    @netAmount
                </td>
                <td class="txt_center check_id">
                    @Html.ActionLink("   ", "DeleteShoppingCartItem", "ShoppingCart", new { id = @row.CheckID, name = "Summary", product = @row.Service }, new { @class = "del_img", id = @row.CheckID, name = "Summary", product = @row.Service })
                </td>
            </tr>
            }
        }
    </table>
    <br /> 
}
