@model MGI.Channel.DMS.Web.Models.PersonalInformation
@{
    ViewBag.Title = "Personal Information";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<script src="@Url.Content("~/Scripts/Customer/PersonalInfo.js")" type="text/javascript"></script>
<div align="center">
    <img src="~/Content/images/Profile.png" usemap="#Map" /></div>
<h2 align="center">
    Personal Information</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div align="center" class="error_txt">@ViewBag.ExceptionMessage</div>
    @Html.Partial("_PersonalInformation", Model)
    @Html.Partial("_PersonalInfoNavigation")
}
