@model MGI.Channel.DMS.Web.Models.ProductCredentialViewModel
 @if (!Model.HasGPRCard)
{
 <div class="spacer">
		<div>
			@Html.LabelFor(model => model.AccountNumber, new { @class = "row_label_txt" })
			@Html.TextBoxFor(model => model.AccountNumber, new { @class = "input_box", @maxlength = "10", @title = @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.Tooltip_PrepaidAccountNumber })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.AccountNumber)
		</div>
	</div>
	<div class="spacer">
		<div>
			<label class="row_label_txt">
			@Html.LabelFor(model => model.BaseFee)
			</label>
			@Html.TextBoxFor(model => model.BaseFeeWithCurrency, new { @class = "input_box", @readonly = "readonly", Value = String.Format("$ {0:0.00}", Model.ActivationFee) })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.BaseFee)
		</div>
	</div>
	<div class="row">
		<div>
			<label class="row_label_txt">
			@Html.LabelFor(model => model.DiscountName)
			</label>
			@Html.TextBoxFor(model => model.DiscountName, new { @class = "input_box", @readonly = "readonly" })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.DiscountName)
		</div>
	</div>
	<div class="row">
		<div>
			<label class="row_label_txt">
			@Html.LabelFor(model => model.DiscountApplied)
			</label>
			@Html.TextBoxFor(model => model.DiscountAppliedWithCurrency, new { @class = "input_box", @readonly = "readonly", Value = String.Format("$ {0:0.00}", Model.ActivationFee) })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.DiscountApplied)
		</div>
	</div>
	<div class="row">
		<div>
			<label class="row_label_txt">
			@Html.LabelFor(model => model.NetFee)
			</label>
			@Html.TextBoxFor(model => model.NetFeeWithCurrency, new { @class = "input_box", @readonly = "readonly", Value = String.Format("$ {0:0.00}", Model.ActivationFee) })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.NetFee)
		</div>
	</div>
	 
	@*<div class="row">
		<div>
			<label class="labelText">
			@Html.DollarField(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ProductCredentialActivationFee)
			</label>
			@Html.TextBoxFor(model => model.ActivationFee, new { @class = "disable_txt", @readonly = "readonly", Value = String.Format("{0:0.00}", Model.ActivationFee) })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.ActivationFee)
		</div>
	</div>*@
	 
	 
	 @Html.TextBoxFor(model => model.BaseFee, new { style = "display:none" })
	 @Html.TextBoxFor(model => model.NetFee, new { style = "display:none" })
	 @Html.TextBoxFor(model => model.DiscountApplied, new { style = "display:none" })
 }
<div class="spacer" style="margin-top: 10px;">
<div style="margin-top: 5px;">
	<ul class="menuHeading checkBand" style="height: 9px; line-height: 9.27px; width: 100%;margin: 0px;">
		<li style="display: inline-block; float: left; color: #737426;" class="ieBandHeight">BANK INFORMATION</li>
	</ul>
</div>
<div class="row">
	<div>
		@Html.LabelFor(model => model.FraudScore, new { @class = "row_label_txt" })
		@Html.DropDownListFor(model => model.FraudScore, Model.FraudScores, new { @class = "dropdown_box"})
	</div>
	<div class="error_align_left">
		@Html.ValidationMessageFor(model => model.FraudScore)
	</div>
</div>
 
    <div class="row">
	    <div>
		    @Html.LabelFor(model => model.Resolution, new { @class = "row_label_txt" })
		    @Html.DropDownListFor(model => model.Resolution, Model.Resolutions, new { @class = "dropdown_box"})
	    </div>
	    <div class="error_align_left"> @Html.ValidationMessageFor(model => model.Resolution) </div>
    </div> 
</div>
<script src="@Url.Content("~/Scripts/Funds/BankInformation.js")" type="text/javascript"></script>
