@model MGI.Channel.DMS.Web.Models.BillPayTransactionDetailsViewModel
@{
	Layout = null;
}

<script src="@Url.Content("~/Scripts/TransactionHistory/TransactionHistory.js")" type="text/javascript"></script> 

	<div class="trxpopup_row">
		<h1 class="trxpopup_title">
			@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.BillPayTrxHistoryTitle
			@if (Model.TransactionStatus != null)
			   {
				   if (Model.TransactionStatus.ToLower() == "committed")
				   { 
					<span>
								<input type="button" value="Reprint Receipt" class="trxpopup_reprint_btn" id="btnPrintReceipt" />
					</span>
				   }
			   }
		</h1>
    </div>
	<div class="trxpopup_row">
		@Html.LabelFor(model => model.TransactionId, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">@Html.DisplayFor(model => model.TransactionId)</span>
		@if (Model.TransactionStatus.ToLower() == "committed")
		{
        <div style="margin-left: 80%;">
			<input type="checkbox" id="chkbox_reprintSummaryReceipt" class="trxpopup_reprint_btn" > Include summary receipt in reprint
		</div>
		}
		<h1 class="trxpopup_title" style="margin-left: 65%;">
			<span>
				<input type="button" id="CancelTransaction" value="Close" class="trxpopup_close_btn" class="trxpopup_reprint_btn" onclick="javascript:ClosePopup();" />
			</span>
		</h1>
	</div>
	<div class="trxpopup_topspace_row">
		@Html.LabelFor(model => model.TransactionStatus, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">@Html.DisplayFor(model => model.TransactionStatus)</span>
	</div>
	<div class="trxpopup_topspace_row">
		@Html.LabelFor(model => model.Amount, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">$@Html.DisplayFor(model => model.Amount)</span>
	</div>
	<div class="trxpopup_row">
		@Html.LabelFor(model => model.Fee, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">$@Html.DisplayFor(model => model.Fee)</span>
	</div>
	<div class="trxpopup_row">
		@Html.LabelFor(model => model.Discount, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">
			@if (Model.Discount > 0)
   { @Html.Label("$")@Html.DisplayFor(model => model.Discount);
   }
   else
   { @Html.Label("NA");
   }
		</span>
	</div>
	<div class="trxpopup_row">
		@Html.LabelFor(model => model.PromotionName, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">@Html.DisplayFor(model => model.PromotionName)</span>
	</div>
	<div class="trxpopup_row">
		@Html.LabelFor(model => model.PromotionDescription, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">@Html.DisplayFor(model => model.PromotionDescription)</span>
	</div>
	<div class="trxpopup_row">
		@Html.LabelFor(model => model.NetFee, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">$@Html.DisplayFor(model => model.NetFee)</span>
	</div>
	<div class="trxpopup_topspace_row">
		@Html.LabelFor(model => model.Total, new { @class = "trxpopup_label" })
		<span class="trxpopup_label">$@Html.DisplayFor(model => model.Total)</span>
	</div>

@if (!string.IsNullOrEmpty(Model.ProviderName) && File.Exists(Server.MapPath(VirtualPathUtility.ToAbsolute("~/Views/Shared" + "/_partial" + Model.ProviderName + "TransactionDetails.cshtml"))))
{
	@Html.Partial("_partial" + Model.ProviderName + "TransactionDetails", Model)
}
<script type="text/javascript">
	$(document).ready(function () {
		hideSpinner();
		$('#btnPrintReceipt').click(function () {
		    var btnprint = $(this);
		    var reprintSummary = $("#chkbox_reprintSummaryReceipt")[0].checked;
		    RePrintReceipt(btnprint, '@Model.TransactionId', '@Model.TransactionType', reprintSummary);
		});
	});
</script>
