@model MGI.Channel.DMS.Web.Models.CustomerSearch
@{
    string disableClass = string.Empty;
    bool isAdminRole = (Convert.ToInt32(HttpContext.Current.Session["UserRoleId"]) == (int)UserRoles.SystemAdmin);
    bool isTerminalSetup = false;
    if (Session["IsTerminalSetup"] != null) {
        isTerminalSetup = Session["IsTerminalSetup"].ToString() == "1" ? true : false;
    }

    if (!isTerminalSetup && !isAdminRole) {
        disableClass = "disable_txt";         
        <div class="field-validation-error"> Terminal not set up, Please contact administrator </div>
    }
}
@using (Html.BeginForm("CustomerSearch", "CustomerSearch", FormMethod.Post, new { @class = "cust_card_search" })) {
    	
    <div class="cust_search_head">
        <hgroup>
			<h1>Search by card: </h1>
		</hgroup>
    </div>
    <div class="float_left cust_swipe_bycard_fix">
        <div class="float_left label_txt cust_swipe_txt"> Capture card swipe </div>
        <div class="float_left cust_swipe_btn">
            <a class="anc_link_btn" href="" onclick="return showSwipeMsg()">Swipe Card</a>
        </div>
    </div>
    <div class="opt_or"> OR </div>
    <div class="float_left cust_swipe_bycard_fix">
		<div>
			<label class="label_txt cust_swipe_txt"> Enter card number </label>
			@Html.TextBoxFor(model => model.MaskCardNumber, new { @class = "input_box enter_card_num", @maxlength = "21" })
			@Html.TextBoxFor(model => model.CardNumber, new { @class = "hide" })
			@Html.TextBoxFor(model => model.CVV, new { @class = "hide" })
		</div>
		<div class="error_align_left error_allignment">
			@Html.ValidationMessageFor(model => model.CardNumber)
		</div>
        <div id="divErrorCardNumber" class="error_txt cardno_error hide">
            @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PrepaidCardNumberRegularExpression
        </div>
    </div>
    @Html.HiddenFor(model => model.SearchType, new { Value = "card" })
	
    <div class="find_btn">
        <input type="submit"  value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SearchButtonText" class="@disableClass" id="cardSubmit"/>
    </div>
}
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/pie/v1/encryption.js" language="JavaScript" type="text/javascript" id="pie_script"></script>
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/pie/v1/mgi/getkey.js" language="JavaScript" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function () {
    	$("#MaskCardNumber").change(function () {
            maskCardNumber();
            // perform PIE encryption, and set results in hidden form fields for submission
            var pan=$("#CardNumber").val();
            var cvv= '000';
            var result = ProtectPANandCVV(pan, cvv);
            if (result != null) {
                // we only need the PAN for this demo
                protected_pan = result[0];
                protected_cvv = result[1];
				$('#CardNumber').val(protected_pan);
				$('#CVV').val(protected_cvv);
            }
        });       
        $("#MaskCardNumber").keydown(function () {
            setMaxLength(18);            
        	$('.field-validation-error').addClass('field-validation-valid').removeClass('field-validation-error');
        });
    });
</script>