@model MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel
@for (int i = 0; i < Model.DynamicFields.Count; i++)
{
	if (Model.DynamicFields[i].DataType == "Dropdown")
	{
		<div class="row">
			@if (Model.DynamicFields[i].IsRequired)
			{
				<label class="row_label_txt dropdown_width">
					@Html.RequiredField(Model.DynamicFields[i].Label)
				</label>
			}
			else
			{
				@Html.Label(Model.DynamicFields[i].Label, new { @class = "row_label_txt" })
			}
			@Html.HiddenFor(M => M.DynamicFields[i].Label)
			@Html.HiddenFor(M => M.DynamicFields[i].IsDynamic)
			@Html.HiddenFor(M => M.DynamicFields[i].TagName)
			@Html.HiddenFor(M => M.DynamicFields[i].RegularExpression)
            
            @if (Model.DynamicFields[i].IsRequired)
            {
                @Html.DropDownListFor(M => M.DynamicFields[i].Value, Model.DynamicFields[i].Values, new {@class = "dropdown_box required"})
                <div class="error_align_left">
                    @Html.ValidationMessageFor(M => M.DynamicFields[i].Value, Model.DynamicFields[i].Label + " is required")
                </div>
            }
            else
            {
                @Html.DropDownListFor(M => M.DynamicFields[i].Value, Model.DynamicFields[i].Values, new { @class = "dropdown_box" })
                <div class="error_align_left">
                    @Html.ValidationMessageFor(M => M.DynamicFields[i].Value)
                </div>
            }
            
		</div>
    }
    else
    {
		<div class="row">
			@if (Model.DynamicFields[i].IsRequired)
   {
				<label class="row_label_txt dropdown_width">
					@Html.RequiredField(Model.DynamicFields[i].Label)
				</label>
   }
   else
   {
				@Html.Label(Model.DynamicFields[i].Label, new { @class = "row_label_txt" })
   }

			@Html.HiddenFor(M => M.DynamicFields[i].Label)
			@Html.HiddenFor(M => M.DynamicFields[i].IsDynamic)
			@Html.HiddenFor(M => M.DynamicFields[i].TagName)
			@Html.HiddenFor(M => M.DynamicFields[i].RegularExpression)
            @if (Model.DynamicFields[i].IsRequired)
            {
                @Html.TextBoxFor(M => M.DynamicFields[i].Value, new { @class = "input_box required " + Model.DynamicFields[i].DataType, @maxlength = Convert.ToString(Model.DynamicFields[i].MaxLength) })
                <div class="error_align_left">
                    @Html.ValidationMessageFor(M => M.DynamicFields[i].Value, Model.DynamicFields[i].Label + " is required")
                </div>
            }
            else
            {
                @Html.TextBoxFor(M => M.DynamicFields[i].Value, new { @class = "input_box " + Model.DynamicFields[i].DataType, @maxlength = Convert.ToString(Model.DynamicFields[i].MaxLength) })
                <div class="error_align_left">
                    @Html.ValidationMessageFor(M => M.DynamicFields[i].Value)
                </div>
            }
		</div>
	}
}