@model MGI.Channel.DMS.Web.Models.FrequentReceivers
<center>
    <div class="select_rec_wrap" id="gallery-wrap">
        <ul id="gallery"  style="width:600px;">
            @if (@Model.Receivers != null)
            {
                var frqRecevierCSS = "";
                var receiverLogo = "";

                foreach (var receiver in Model.Receivers)
                {
                    string targetUrl = Url.Content("~/SendMoney/SelectReceiver");
                    targetUrl = targetUrl + "?ReceiverID=" + receiver.Id;

					if (Model.SelectedReceiverId != null)
                    {
						if (receiver.Id == Model.SelectedReceiverId)
                        {
                            frqRecevierCSS = "freq_items sel_freq_item";
                            receiverLogo = Url.Content("~/Content/images/selectedfrequentReceiverLogo.png");
                        }
                        else
                        {
                            frqRecevierCSS = "freq_items non_sel_freq_item";
                            receiverLogo = Url.Content("~/Content/images/frequentReceiverLogo.png");
                        }
                    }
                    else
                    {
                        frqRecevierCSS = "freq_items non_sel_freq_item";
                        receiverLogo = Url.Content("~/Content/images/frequentReceiverLogo.png");
                    }
                <li><a id = "fqRcvr_@receiver.Id.ToString()" class='@frqRecevierCSS' onclick="selectReceiver('@receiver.Id')">
                    @{
                        string receiverCancelImageUrl = @Url.Content("~/Content/Images/Declined.png");	
                     }

                    <img id="fqRcrLogo" src ="@receiverLogo" alt='@receiver.Id' height=50px width=50px class="float_left" />
                    <span class="bold">@Html.EllipsisWhenOverflow(receiver.FirstName + " " + receiver.LastName, 10)</span><br />
                    <img id="fqBlrRemove_@receiver.Id.ToString()" alt="Remove Receiver" src='@receiverCancelImageUrl' height=15px width=15px class="float_right" onclick="btnFavReceiverDeleteClick(this);" style="margin-top:-20px;" />
                    @{
                        if (!(string.IsNullOrWhiteSpace(receiver.City) && string.IsNullOrWhiteSpace(receiver.State_Province)))
                        {
                            <span>@Html.EllipsisWhenOverflow(receiver.City + "," + receiver.State_Province, 15)</span><br />
                        }
                    }
                    @*This condition was added for Past Receivers User Story # US1645.*@                    
                    <span>@Html.EllipsisWhenOverflow(receiver.PickupCountry, 15)</span> </a></li>
                }
            }
        </ul>
    </div>
</center>
<div id="gallery-controls">
    <a href="#" id="gallery-prev" class="gallery_btn">
        <img src="~/Content/Images/LeftArrow.jpg" alt="left" /></a> <a href="#" id="gallery-next"
            class="gallery_btn">
            <img src="~/Content/Images/RightArrow.jpg" alt="right" /></a>
</div>
<div>
    <ul class="page_head product_head">
        <li id="divheader">Setup Receiver</li>
    </ul>
</div>
