@model MGI.Channel.DMS.Web.Models.BillPaymentViewModel
<script src="@Url.Content("~/Scripts/Billpay/BillPayment.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<div class="frq_pay_wrap" id="gallery-wrap">
    <ul id="gallery">
        @if (@Model.FrequentBillPayees != null && @Model.FrequentBillPayees.Count > 0)
        {
            var frqRecevierCSS = "";
            foreach (var Payee in Model.FrequentBillPayees)
            {
                if (Model.BillerName != null)
                {
                    if (Model.BillerName == Payee.ProductName)
                    {
                        frqRecevierCSS = "freq_items sel_freq_item";
                    }
                    else
                    {
                        frqRecevierCSS = "freq_items non_sel_freq_item";
                    }
                }

                else
                {
                    frqRecevierCSS = "freq_items non_sel_freq_item";
                }  
            
            <li><a id = "fqBlr_@Payee.Id.ToString()" class='@frqRecevierCSS' onclick="SelectBiller('@Payee.ProductName')" >
                @{
                string billerImageBaseUrl = System.Configuration.ConfigurationManager.AppSettings["ReceiptLogoUrl"];
                string billerImageUrl = @Url.Content("~/Content/Images/BillPayWhite.png");
                //string billerImageUrl = string.Format("{0}{1}", billerImageBaseUrl, Payee.LogoURL);
                }
                <img id="fqBlrLogo" src ='@billerImageUrl' alt='@Payee.ProductName' height=50px width=50px class="float_left" />
                <span class="float_left">@Payee.ProductName</span> </a></li>
            }
        }
    </ul>
</div>
<div id="gallery-controls" class="frq_pay_gallery">
    <a href="#" id="gallery-prev">
        <img src="~/Content/Images/LeftArrow.jpg" alt="left" />
    </a><a href="#" id="gallery-next">
        <img src="~/Content/Images/RightArrow.jpg" alt="right" />
    </a>
</div>
<div>
    <ul class="page_head product_head">
        <li>Select New Biller</li>
    </ul>
</div>
<div class="bill_pay_desc">
    <p id="billerMessage">
    </p>
</div>
