@model MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel
@{
@*Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> BillPayee =
	@<text>
	@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.BillPayee<span class="mandatory">*</span>
	</text>;
*@
    Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> AccountAuthDescription =
    @<text>
    @Model.AccountAuthDescription<span class="mandatory">*</span>
    </text>;

    Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> AccountNumber =
    @<text>
    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.AccountNumber<span class="mandatory">*</span>
    </text>;

    Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> ConfirmAccountNumber =
    @<text>
    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ConfirmAccountNumber<span class="mandatory">*</span>
    </text>;

    Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> BillAmount =
    @<text>
    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.BillPayAmount<span class="mandatory">*</span>
    </text>;

    Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> BillPaymentFee =
    @<text>
    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.BillPaymentFee<span class="mandatory">*</span>
    </text>;

    Func<MGI.Channel.DMS.Web.Models.MoneyGramBillPayViewModel, object> BillerName =
    @<text>
    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SelectMGIBillPayee<span class="mandatory">*</span>
    </text>;
        
}
<!--added new labels starts here -->
@Html.Partial("_partialSpinner")

<div class="row">
    <div>
        <label class="row_label_txt">@BillerName(@Model)</label>
        @Html.TextBoxFor(model => model.BillerName, new { @class = "input_box" })
        @Html.HiddenFor(model => model.BillerCode, new { @id = "hdnBillerCode" })
        @Html.TextBoxFor(model => model.BillerNotes, new { @class = "hide" })
        @Html.TextBoxFor(model => model.BillerDenominations, new { @class = "hide" })
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.BillerName)
    </div>
</div>
<div class="row">
    <div>
        <label id="LabelAccountAuthDescription" class="row_label_txt">@AccountNumber(@Model)</label>
        @Html.TextBoxFor(model => model.AccountNumber, new { @class = "input_box" })
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.AccountNumber)
    </div>
</div>
<div class="line_Sep">
</div>
<div class="row">
    @if (!string.IsNullOrEmpty(Model.AccountAuthDescription))
    {
        <div>
            <label id="LabelConfirmAccountAuthDescription" class="row_label_txt">@AccountAuthDescription(@Model)</label>
            @Html.TextBoxFor(model => model.ConfirmAccountNumber, new { @class = "input_box" })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.ConfirmAccountNumber)
        </div>
    }
    else
    {
        <div>
            <label id="LabelConfirmAccountAuthDescription" class="row_label_txt">@ConfirmAccountNumber(@Model)</label>
            @Html.TextBoxFor(model => model.ConfirmAccountNumber, new { @class = "input_box" })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.ConfirmAccountNumber)
        </div>
    }
</div>
<div class="row"  id="billAmount">
    <div>
        <label class="row_label_txt">@BillAmount(@Model)</label>
        @Html.TextBoxFor(model => model.BillAmount, new { @class = "input_box", maxLength = 10 })
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.BillAmount)
        <div id="divbillerdenominations">
            <p id="billerdenominations">
            </p>
        </div>
    </div>
</div>
<div class="row" id="billAmountList">
	<div>
		<label class="row_label_txt dropdown_width">
			@BillAmount(@Model)
		</label>
		@Html.DropDownListFor(model => model.BillAmount1, Enumerable.Empty<SelectListItem>(), new { @class = "dropdown_box" })
	</div>
	<div class="error_align_left">
		@Html.ValidationMessageFor(model => model.BillAmount1)
	</div>
</div>
<div class="row">
    <div>
        <label class="row_label_txt">@Html.Raw(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.BillPaymentFee)</label>
        @Html.TextBoxFor(model => model.BillPaymentFee, String.Format("{0:0.00}", @Model.BillPaymentFee), new { @class = "disable_txt", readOnly = "true" })
        @Html.HiddenFor(model => model.SessionCookie, @Model.SessionCookie)
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.BillPaymentFee)
    </div>
</div>
<div class="row">
    <div>
        <label class="row_label_txt">@Html.Raw(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.DeliveryOption)</label>
        @Html.TextBoxFor(model => model.DeliveryOption, new { @class = "disable_txt", readOnly = "true" })
    </div>
    <div class="error_align_left">
    </div>
</div>
<div class="line_Sep">
</div>
<div id="DynamicFields" class="row">
</div>
<!--added new labels ends here -->
@Html.TextBoxFor(model => model.BillerId, new { @class = "hide" })
@Html.TextBoxFor(model => model.ProviderName, @Model.ProviderName, new { @class = "hide" })
<input type="hidden" id="hdnBillerCsvValues" />