@model MGI.Channel.DMS.Web.Models.MoneyOrderConfirm
@{
    ViewBag.Title = "PrintMoneyOrder";
}
<script type="text/javascript">
    function PrintMO() {
        PrintMoneyOrder(NPSbaseURL, '@Model.PrintData');
    }
</script>
<div id="divPrintMoneyOrder">
    <div id="processCheck" class="txt_center">
        <div>
            <ul class="page_head product_head">
                <li>Place the Money Order in the printer</li>
            </ul>
        </div>
        <div class="msg_statement">
            <div>
                <img id="CheckImage" alt="checkimage " src="@Url.Content("~/Content/images/MOPrintInstruction.png")"/>
            </div>
        </div>
        <div>
            <ul>
                <li class="popUpCancelBtnWidth">               
                    @Html.ActionLink("Cancel Transaction", "MoneyOrderCancel", "ShoppingCart", null, new { id = "submitLink", @class = "anc_link_btn red_btn" })
                </li>
                <li class="popUpConfrmBtnWidth">
                    <input type="button" value="Print" id="btnPrint" onclick="PrintMO()" class ="confirmButton" />
                </li>
            </ul>
        </div>
    </div>
</div>
@Html.HiddenFor(model => model.CheckNumber)
@Html.HiddenFor(model => model.AccountNumber)
@Html.HiddenFor(model => model.RoutingNumber)
@Html.HiddenFor(model => model.MICR)
@Html.HiddenFor(model => model.NpsId)
@Html.HiddenFor(model => model.Amount)
<script language="javascript" type="text/javascript">
    ShowMoneyOrderImage("@Model.FrontImage");
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var exceptionMsg = '@ViewBag.ExceptionMsg';
        var showMOExceptionPopup = '@ViewBag.IsMoneyOrderPrintException';
        if (showMOExceptionPopup == 'True') {
            $('#MoneyOrderPrintPopup').dialog('destroy').remove();
            ProcessMoneyOrderPopup();
            showExceptionPopupMsg(exceptionMsg);
        }
    });
</script>
