@model MGI.Channel.DMS.Web.Models.MoneyOrderSetup
<script src="@Url.Content("~/Scripts/ShoppingCart/ShoppingItemDisplay.js")" type="text/javascript"></script>
<div>
    <div class="row ">
        <div>
            <label class="row_label_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MoneyOrderAmount</label>
            @Html.TextBoxFor(model => model.Amount, new { @class = "disable_txt", readOnly = "true", @disabled = "disabled", Value = String.Format("{0:0.00}", Model.Amount) })
        </div>
    </div>
    <div class="row ">
        <div>
            <label class="row_label_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MoneyOrderFee</label>
            @Html.TextBoxFor(model => model.Fee, new { @class = "disable_txt", readOnly = "true", @disabled = "disabled", Value = String.Format("{0:0.00}", Model.Fee) })
        </div>
    </div>
        <div class="row ">
        <div>
            <label class="row_label_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MoneyOrderTotal</label>
            @Html.TextBoxFor(model => model.Total, new { @class = "disable_txt", readOnly = "true", @disabled = "disabled", Value = String.Format("{0:0.00}", Model.Total) })
        </div>
    </div>
    @if (Model.StatusDescription != null)
    {
        <div class="row ">
            <div>
             <label class="row_label_txt">Status Description</label>
            @Html.TextAreaFor(model => model.StatusDescription, new { @class = "row_input_bg", @disabled = "disabled" })
            </div>
        </div>  
    }
</div>
<br />
<div>
        <ul class="txt_center">
        <li class="popUpCancelBtnWidth">
            <input type="button" id="submitLink" value="Close"  onclick="closethis();"/>
        </li>
    </ul>
</div>
