@model MGI.Channel.DMS.Web.Models.BillPayTransactionDetailsViewModel
@{
    Layout = null;
}
<div class="trxpopup_provider_div">
    <div class="trxpopup_topspace_row">
        @Html.LabelFor(model => model.ReferenceNumber, new { @class = "trxpopup_label" })
        <span class="trxpopup_label">@Html.DisplayFor(model => model.MTCN)</span>
    </div>
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.Payee, new { @class = "trxpopup_label" })
        <span class="trxpopup_label">@Html.DisplayFor(model => model.Payee)</span>
    </div>
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.AccountNumber, new { @class = "trxpopup_label" })
        <span class="trxpopup_label">@Html.DisplayFor(model => model.AccountNumber)</span>
    </div>
</div>
