@model MGI.Channel.DMS.Web.Models.ProcessorCrendential

@Html.HiddenFor(m => m.LocationID)
@Html.HiddenFor(m => m.ProviderID)
@Html.HiddenFor(m => m.ProcessorID)

<div id="TSYS">
	<div class="row">
		<div>
			<label class="label_txt">@Html.RequiredField(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ProgramID)</label> 
			@Html.TextBoxFor(m => m.Identifier, new { @class = "input_box", maxLength = "100" })
		</div>
		<div class="error_align_left align_left_processor">
			@Html.ValidationMessageFor(m => m.Identifier)
		</div>
	</div>
</div>

<div class="align_left_tabs">
	<input type="button" value="Edit" class="EditCredential anc_link_btn yellow_btn add_rec" name="Edit" id="EditTSys" />
	<input type="button" style="background-color: rgb(0, 105, 55)" value="Save" class="SaveCredential" name="Save" id="SaveTSys" />
</div>
