@model MGI.Channel.DMS.Web.Models.FundTransactionModel
@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        var fundType = '@Model.FundType';
        if (fundType == 0) {
            $('#divActivation').hide();
            $('#divWithdraw').show();
            $('#divLoad').hide();
        } else if (fundType == 1) {
            $('#divActivation').hide();
            $('#divWithdraw').hide();
            $('#divLoad').show();
        } else {
            $('#divActivation').show();
            $('#divWithdraw').hide();
            $('#divLoad').hide();
            $('#divFee').hide();
            $('#divNewCardBal').hide();
            $('#divConfirmation').hide();
        }

    });

    $('#btnPrintReceipt').click(function () {
        var btnprint = $(this);
        var reprintSummary = $("#chkbox_reprintSummaryReceipt")[0].checked;
        RePrintReceipt(btnprint, '@Model.TransactionId', '@Model.TransactionType', reprintSummary);
    });

</script>
<div class="row5">
    <h1 class="font_17">
        @Model.Title
        <span>
            <input type="button" value="Reprint Receipt" class="btn_txt" id="btnPrintReceipt" class="green_input" />
        </span>
    </h1>
</div>
<div class="row5">
    @Html.LabelFor(model => model.CardNumber, new { @class = "font_15" })
    <span class="font_15 row_shift2">*@Html.DisplayFor(model => model.CardNumber)</span>
</div>
<div class="row5" id="divActivation">
    @Html.LabelFor(model => model.ActivationFee, new { @class = "font_15" })
    <span class="font_15 row_shift2">$@Html.DisplayFor(model => model.ActivationFee)</span>
</div>
<div class="row5" id="divLoad">
    @Html.LabelFor(model => model.LoadAmount, new { @class = "font_15" })
    <span class="font_15 row_shift2">$@Html.DisplayFor(model => model.LoadAmount)</span>
</div>
<div id="divWithdraw" class="row5">
    @Html.LabelFor(model => model.WithdrawAmount, new { @class = "font_15" })
    <span class="font_15 row_shift2">$@Html.DisplayFor(model => model.WithdrawAmount)</span>
</div>
<div id="divFee" class="row5">
    @Html.LabelFor(model => model.Fee, new { @class = "font_15" })
    <span class="font_15 row_shift2">$@Html.DisplayFor(model => model.Fee)</span>
</div>
<div id="divNewCardBal" class="row5">
    @Html.LabelFor(model => model.NewCardBalance, new { @class = "font_15" })
    <span class="font_15 row_shift2">$@Html.DisplayFor(model => model.NewCardBalance)</span>
</div>
<div id="divConfirmation" class="row5">
    @Html.LabelFor(model => model.ConfirmationNumber, new { @class = "font_15 bold" })
    <span class="font_15 bold row_shift2">@Html.DisplayFor(model => model.ConfirmationNumber)</span>
</div>
<div class="float_left row_shift30">
    <input type="button" value="Exit" onclick="javascript:$('#divPrepaid').dialog('destroy').remove();" class="green_input" />
</div>
