@model MGI.Channel.DMS.Web.Models.MoneyTransferTransactionDetailsViewModel
@{
    Layout = null;
}
<div class="trxpopup_provider_div">
    <div class="trxpopup_row">
        <h2>
            @Html.LabelFor(model => model.MTCN, new { @class = "trxpopup_label" })
            <span class="trxpopup_label">@Html.DisplayFor(model => model.MTCN)</span>
        </h2>
    </div>
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.TestQuestion, new { @class = "trxpopup_label" })
        <span class="trxpopup_label">@Html.DisplayFor(model => model.TestQuestion)</span>
    </div>
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.TestAnswer, new { @class = "trxpopup_label" })
        <span class="trxpopup_label">@Html.DisplayFor(model => model.TestAnswer)</span>
    </div>
    <div class="row_label_txt_Status">
        For inquiries and more information about this transaction, please contact Western
        Union at 1-800-325-6000
    </div>
</div>
