@model MGI.Channel.DMS.Web.Models.ShoppingCartDetail
<div>
    <ul class="page_head product_head">
        <li style="display: inline-block; float: left">Referral</li>
    </ul>
</div>
<div>
    <br />
    <center>
        @Html.Raw("Do you want to refer your friend ?") &nbsp;&nbsp;
        @if (Model.IsReferral)
        {
            @Html.RadioButtonFor(model => model.IsReferral, "true", new { Checked = "checked" })  <span> Yes &nbsp;&nbsp;</span>    
            @Html.RadioButtonFor(model => model.IsReferral, "false")  <span>No</span>
        }
        else
        {
            @Html.RadioButtonFor(model => model.IsReferral, "true")            <span> Yes &nbsp;&nbsp;</span>
            @Html.RadioButtonFor(model => model.IsReferral, "false", new { Checked = "checked" }) <span>No</span>
        }
    </center>
</div>
<br />
<hr class="westernUnionEnrollDiv" style="background-color:black"/>