@{
	MGI.Channel.DMS.Server.Data.ChannelPartner channelPartner = Session["ChannelPartner"] as MGI.Channel.DMS.Server.Data.ChannelPartner;
	string channelPartnerId = channelPartner != null ? channelPartner.Id.ToString() : string.Empty;

	string checkProcessorUrl = string.Empty;
	string checkProcessorTocken = string.Empty;
	string employeeId = string.Empty;

	if (ViewBag.CheckProcessorInfo != null)
	{
		checkProcessorUrl = ViewBag.CheckProcessorInfo.Url;
		checkProcessorTocken = ViewBag.CheckProcessorInfo.Tocken;
		employeeId = ViewBag.CheckProcessorInfo.EmployeeId.ToString();
	}
}
<script type="text/javascript">
	var url = '@Url.Action("GetMessageData", "MessageCenter")';
	var messageCenterRefreshTime = @System.Configuration.ConfigurationSettings.AppSettings["messageCenterRefreshTime"].ToString();
    var ChatCenterMsgPopupURL = '@Url.Action("ShowChatPopup", "MessageCenter")';   
	var msgurl = '@Url.Action("GetMessageData", "MessageCenter")';
	var checkProcessorUrl = '@checkProcessorUrl';
	var checkProcessorTocken = '@checkProcessorTocken';
	var employeeId = '@employeeId';
	var channelPartnerId = '@channelPartnerId';
    var ticketNumbers = '';
</script>
<script src="@Url.Content("~/Scripts/MessageCenter/MessageCenter.js")" type="text/javascript"></script>
<div id="loadingMessageCenter">
	<div id="loadingcontent">
		<div id="loadingspinner">
		</div>
	</div>
</div>
<div>
	<table id="" class="msgCenterHeaderTable">
		<thead>
			<tr>
				<th class="msgCenterNameHeader  label_txt">
					Name
				</th>
				<th class="msgCenterAmountHeader  label_txt">
					Amount
				</th>
				<th class="msgCenterStateHeader  label_txt">
					Status
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
	</table>
	<div class="msgCenterTableDiv">
		<table id="grdMessageCenter" class="msgCenterTable">
			<thead>
				<tr>
					<th class="msgCenterNameHeader">
					</th>
					<th class="msgCenterAmountHeader">
					</th>
					<th class="msgCenterStateHeader">
					</th>
					<th>
						&nbsp;
					</th>
				</tr>
			</thead>
			<tbody class="label_txt" id="tbodymessagecenter"></tbody>
		</table>
	</div>
</div>
