@model MGI.Channel.DMS.Web.Models.PinDetails
@Html.ValidationSummary(true)
@*<div align="center" class="error_txt">@ViewBag.ExceptionMessage</div>*@
<div class="row">
    <div>@Html.LabelFor(model => model.PhoneNumber, new { @class = "row_label_txt" })
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "disable_txt", @disabled = "disabled", autocomplete = "off" })</div>
        
        <div class="error_align_left"> @Html.ValidationMessageFor(model => model.PhoneNumber)</div>
       
    
</div>
