<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery-grid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery-ui/redmond/jquery-ui-1.8.14.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery-ui/redmond/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Common/lib/jquery-grid/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery-grid/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/autoSearch.js")" type="text/javascript"></script>

<div class="search_trans_grid_wrap" id="customer_search_grid_div">
    <div class="trans_grid_tab" id="auto_search">
        <table id="jqTable" class="scroll"></table>
        <div id="jqTablePager" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="txt_center">
    <ul>
        <li class="SrchButtonWidth">
            <input type="button" value="Cancel" id="btnOk" onclick="removeGridPopUP();"
                   class="red_btn push_top10_fix" />
        </li>
    </ul>
</div>