@model TCF.Channel.Zeo.Web.Models.CashTransactionDetailsViewModel
@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/ShoppingCart/PrintReceipt.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script> 

<div class="trxpopup_row">
    <h1 class="trxpopup_title">
        @if (Model.TransactionType == "Cash In")
        {
            @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CashInTrxHistoryTitle
        }
        else
        { 
            @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CashOutTrxHistoryTitle
        }
    </h1>
</div>
<div class="trxpopup_maindiv">
    <div class="trxpopup_right_div">
        @if (Model.TransactionStatus != null && Model.TransactionStatus.ToLower() == "committed")
        {
            <div>
                <input type="button" value="Reprint Receipt" class="trxpopup_reprint_btn" id="btnPrintReceipt" />
            </div>
        }
        <div>
            <input type="button" id="CancelTransaction" value="Close" class="trxpopup_close_btn"
                onclick="javascript: ClosePopup();" />
        </div>
    </div>
    <div>
        <div class="trxpopup_topspace_row">
            @Html.LabelFor(model => model.TransactionStatus, new { @class = "trxpopup_label" })
            <span class="trxpopup_label">@Html.DisplayFor(model => model.TransactionStatus)</span>
        </div>
        <div class="trxpopup_topspace_row">
            @Html.LabelFor(model => model.Amount, new { @class = "trxpopup_label" })
            <span class="trxpopup_label">$@Html.DisplayFor(model => model.Amount)</span>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
        hideSpinner();
        $('#btnPrintReceipt').click(function () {
            var btnprint = $(this);
            RePrintReceipt(btnprint, '@Model.TransactionId', '@Model.TransactionType', true);
        });
    });
</script>
