@model TCF.Channel.Zeo.Web.Models.ParkTransaction
<div>
	<hgroup>
		<h1>@Html.Raw(ViewBag.Certegymessage)</h1>
	</hgroup>
	
	<div class="push_top5 popMessageLabel txt_red txt_black">
		@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CertegyRemovalFirstPopUpMsg
	</div>

	<div class="push_top5" align="center">
		<ul>
			<li><input type="button" class="anc_link_red_btn" value="Cancel" onclick="javascript: $('#removeCheckPopup').dialog('destroy').remove();" /></li>
			<li><input type="button" id="btnRemoveCheckConfirm" class="grey_btn1" value="Continue" /></li>
		</ul>
	</div>

</div>
<script src="~/Scripts/ShoppingCart/CheckOutSuccess.js?version=" + @DateTime.Now.Ticks></script>
<script type="text/javascript">
	var transactionId = '@Model.TransactionId';
	var DeleteCheckPopupURL = '@Url.Action( "DeleteCheckPopUp","CertegyProcessCheck")';
</script>
