@model TCF.Channel.Zeo.Web.Models.ProfileSummary

<div class="leftLabel">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "row_input_bg", @disabled = "disabled", title = Model.Name })
    @*@Html.TextBoxFor(model => model.Name, new { @class = "TxtDisable", @disabled = "disabled", title = Model.Name })*@
</div>
<div class="leftLabel">
    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender, new { @class = "TxtDisable", @disabled = "disabled", title = Model.Gender })
</div>
<div class="leftLabel">
    @Html.LabelFor(model => model.PrimaryPhone)
    @Html.TextBoxFor(model => model.PrimaryPhone, new { @class = "TxtDisable", @disabled = "disabled", title = Model.PrimaryPhone })
</div>
<div class="leftLabel">
    @Html.LabelFor(model => model.Email)
    @*@Html.TextBoxFor(model => model.Email, new { @class = "TxtDisable", @disabled = "disabled", title = Model.Email })*@
    @Html.TextBoxFor(model => model.Email, new { @class = "row_input_bg", @disabled = "disabled", title = Model.Email })
</div>
<div class="leftLabel">
    @Html.LabelFor(model => model.Address)
    @*@Html.TextBoxFor(model => model.Address, new { @class = "TxtDisable", @disabled = "disabled", title = Model.Address })*@
    @Html.TextBoxFor(model => model.Address, new { @class = "row_input_bg", @disabled = "disabled", title = Model.Address })
</div>

<div class="float_left">
    <p> <span class="GreenColor">Identification Information</span> </p>
    
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.MotherMaidenName)
        @Html.TextBoxFor(model => model.MotherMaidenName, new { @class = "TxtDisable", @disabled = "disabled", title = Model.MotherMaidenName })
    </div>
    
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "TxtDisable", @disabled = "disabled", title = Model.DateofBirth })
    </div>
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.Country)
        @Html.TextBoxFor(model => model.Country, new { @class = "TxtDisable", @disabled = "disabled", title = Model.Country })
    </div>
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.GovtIDType)
        @Html.TextBoxFor(model => model.GovtIDType, new { @class = "TxtDisable", @disabled = "disabled", title = Model.GovtIDType })
    </div>
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.GovtIdIssueState)
        @Html.TextBoxFor(model => model.GovtIdIssueState, new { @class = "TxtDisable", @disabled = "disabled", title = Model.GovtIdIssueState })
    </div>
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.GovernmentId)
        @Html.TextBoxFor(model => model.GovernmentId, new { @class = "TxtDisable", @disabled = "disabled", title = Model.GovernmentId })
    </div>
    <div class="leftLabel profileSummary">
        @Html.LabelFor(model => model.IDExpirationDate)
        @Html.TextBoxFor(model => model.IDExpirationDate, new { @class = "TxtDisable", @disabled = "disabled", title = Model.IDExpirationDate })
    </div>
    </div>
    <div>
    <p class="cust_pro_emp_detail">Employment Details</p>
    <div class="leftLabel">
        @Html.LabelFor(model => model.Profession)
        @Html.TextBoxFor(model => model.Profession, new { @class = "TxtDisable", @disabled = "disabled", title = Model.Profession })                                       
    </div>

     <div class="leftLabel">
       @Html.LabelFor(model => model.EmployerName)
        @Html.TextBoxFor(model => model.EmployerName, new { @class = "TxtDisable", @disabled = "disabled", title = Model.EmployerName })
    </div>
    
     <div class="leftLabel">
      @Html.LabelFor(model => model.EmployerPhoneNumber)
       @Html.TextBoxFor(model => model.EmployerPhoneNumber, new { @class = "TxtDisable", @disabled = "disabled", title = Model.EmployerPhoneNumber })
    </div>
    </div>
    


