@model TCF.Channel.Zeo.Web.Models.CustomerSearch
@{
    string disableClass = string.Empty;
    bool isAdminRole = (Convert.ToInt32(HttpContext.Current.Session["UserRoleId"]) == (int)TCF.Zeo.Common.Util.Helper.UserRoles.SystemAdmin);
    bool isTerminalSetup = false;
    if (Session["IsTerminalSetup"] != null)
    {
        isTerminalSetup = Session["IsTerminalSetup"].ToString() == "1" ? true : false;
    }

    if (!isTerminalSetup && !isAdminRole)
    {
        disableClass = "disable_txt";
        <div class="field-validation-error"> Terminal not set up, Please contact administrator </div>
    }
}
@using (Html.BeginForm("CustomerSearch", "CustomerSearch", FormMethod.Post, new { @class = "cust_critical_search" }))
{
    <div class="cust_search_head">
        <hgroup>
            <h1> Enter search criteria (at least two): </h1>
        </hgroup>
    </div>
    <div class="report_wrap">
        <div class="row">
            <div>
                @Html.LabelFor(model => model.LastName, new { @class = "label_txt" })
                @Html.TextBoxFor(model => model.LastName, new { @class = "input_box_crit_txt srch_crit_txt clearable" + disableClass, @maxlength = "30", @title = @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.Tooltip_LastName,tabindex = 1 })
            </div>
            <div class="valid_error">
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="row">
            <div>
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "label_txt" })
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "input_box_crit_txt srch_crit_txt clearable" + disableClass, @placeholder = "###-###-####", tabindex = 1 })
            </div>
            <div class="valid_error">
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="row">
            <div>
                @Html.LabelFor(model => model.DateOfBirth, new { @class = "label_txt" })
                @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "input_box_crit_txt srch_crit_txt clearable" + disableClass, id = "DateOfBirth", @placeholder = "MM/DD/YYYY", width = "87%", tabindex = 1 })
            </div>
            <div class="valid_error">
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
        </div>
        <div class="row">
            <div>
                @Html.LabelFor(model => model.SSN, new { @class = "label_txt" })
                @Html.TextBoxFor(model => model.SSN, new { @class = "input_box_crit_txt srch_crit_txt clearable" + disableClass, @placeholder = "###-##-####", tabindex = 1 })
            </div>
            <div class="valid_error">
                @Html.ValidationMessageFor(model => model.SSN)
            </div>
            @Html.HiddenFor(model => model.SearchType, new { Value = "criteria" })
        </div>
        <div class="float_right">
            <ul class="find_btn button-align">
                <li>
					<input type="submit" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SearchButtonText" class="@disableClass" tabindex="1" id="criteriaSubmit" />
                </li>
            </ul>
        </div>
    </div>

}
