@model TCF.Channel.Zeo.Web.Models.CustomerSearch
@{
    Func<TCF.Channel.Zeo.Web.Models.CustomerSearch, object> DOB =
        @<text>
            @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.DateOfBirth<span class="mandatory" id="">*</span>
        </text>;
}

@using (Html.BeginForm("CustomerSearch", "CustomerSearch", FormMethod.Post, new { @class = "cust_card_search", id = "CardSearchForm" }))
{
    <div class="cust_search_head">
        <hgroup>
            <h1 class="header-option">1. Search by Card: </h1>
        </hgroup>
        <h1 class="top-right-corner">OR</h1>
    </div>
    <div class="card_search_with_dob">
        <div class="main_search_content">
            <div class="row card_top-margin">
                <div class="label_col_left">
                    @Html.LabelFor(model => model.MaskCardNumber, new { @class = "label_txt" })
                </div>
                <div class="label_col_right">
                    @Html.TextBoxFor(model => model.MaskCardNumber, new { @class = "input_box card_number", @maxlength = "21", tabindex = 1 })
                    @Html.TextBoxFor(model => model.CardNumber, new { @class = "hide" })
                    @Html.TextBoxFor(model => model.CVV, new { @class = "hide" })
                    @Html.TextBoxFor(model => model.IsZeoCard, new { @class = "hide" })
                    <div class="valid_error">
                        @Html.ValidationMessageFor(model => model.MaskCardNumber)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="label_col_left">
                </div>
                <div class="label_col_right">
                    <div class="hint_message">
                        <p>Click this box before swiping card</p>
                    </div>
                </div>
            </div>
            <div class="row" id="dob_hide">
                <div class="label_col_left lable-top-margin">
                    <label class="label_txt">@DOB(@Model)</label>
                </div>
                <div class="label_col_right">
                    @Html.TextBoxFor(model => model.TCFCheckDateOfBirth, new { @class = "input_box", @maxlength = "30", @placeholder = "MM/DD/YYYY", tabindex = 1 })
                    <div class="valid_error">
                        @Html.ValidationMessageFor(model => model.TCFCheckDateOfBirth)
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.SearchType, new { Value = "card" })
        <div class="row btn-padding">
            <div class="label_col_left">
            </div>
            <div class="label_col_right">
                <input type="submit" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SearchButtonText" class="card_search_find_btn" tabindex="1" id="cardsearchsubmit" disabled ="disabled"/>
            </div>
        </div>
    </div>
}