@model TCF.Channel.Zeo.Web.Models.DomesticConfirmation
<div>
<div class="row">
   <div>
    @Html.LabelFor(model => model.ReceiverName, new { @class = "row_label_txt" })
    @Html.TextBoxFor(model => model.ReceiverName, null, new { @class = "disable_txt", readOnly = "true" })
    </div>     
</div>
<div class="row">
   <div>
    @Html.LabelFor(model => model.PickUpLocation, new { @class = "row_label_txt" })
     @Html.TextBoxFor(model => model.PickUpLocation, null, new { @class = "disable_txt", readOnly = "true" })
     </div> 
</div>
<div class="row">
    <div>
    @Html.LabelFor(model => model.PickUpMethod, new { @class = "row_label_txt" })
     @Html.TextBoxFor(model => model.PickUpMethod, null, new { @class = "disable_txt", readOnly = "true"})
     </div>  
</div>
<div class="row">
    <div>
    @Html.LabelFor(model => model.PickUpOptions, new { @class = "row_label_txt" })
     @Html.TextBoxFor(model => model.PickUpOptions, null, new { @class = "disable_txt", readOnly = "true" }) 
     </div>  
</div>
<div class="row">
<div>
    @Html.LabelFor(model => model.TransferAmount, new { @class = "row_label_txt" })
   @Html.TextBoxFor(model => model.TransferAmount, null, new { @class = "disable_txt", readOnly = "true" })
   </div>
</div>
<div class="row">
    <div>
    @Html.LabelFor(model => model.TransferFee, new { @class = "row_label_txt" })
    @Html.TextBoxFor(model => model.TransferFee, null, new { @class = "disable_txt", readOnly = "true" }) 
    </div>
</div>
<div class="row">
<div>
    @Html.LabelFor(model => model.TransferTax, new { @class = "row_label_txt" })
    @Html.TextBoxFor(model => model.TransferTax, null, new { @class = "disable_txt", readOnly = "true" })
    </div>
</div>
<div class="row">
<div>
    @Html.LabelFor(model => model.TotalAmount, new { @class = "row_label_txt" })
   @Html.TextBoxFor(model => model.TotalAmount, null, new { @class = "disable_txt", readOnly = "true" })
   </div>
</div>
</div>
 @Html.HiddenFor(model => model.ReceiverID)
 @Html.HiddenFor(model => model.TransactionId)