@model TCF.Channel.Zeo.Web.Models.ProcessorCrendential

@Html.HiddenFor(m => m.LocationID)
@Html.HiddenFor(m => m.ProviderID)
@Html.HiddenFor(m => m.ProcessorID)

<div class="row">
	<div>
		<label class="label_txt" style="float:none">@Html.RequiredField(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CertegySiteID)</label>
		@Html.TextBoxFor(m => m.Identifier, new { @class = "input_box", maxLength = "16", id ="txtCertegySiteId"})
	</div>	
	<div class="error_align_left certegy_validation_error_message">
		@Html.ValidationMessageFor(m => m.Identifier)
	</div>	
</div>
<div class="align_left_tabs certegy">
	<input type="button" value="Edit" class="EditCredential anc_link_btn yellow_btn add_rec" name="Edit" id="EditCertegy" />
	<input type="button" style="background-color: rgb(0, 105, 55)" value="Save" class="SaveCredential" name="Save" id="SaveCertegy" />
</div>
