@model TCF.Channel.Zeo.Web.Models.BaseModel
<script type="text/javascript">
    var SSNValidationWarningUrl = '@Url.Action("ShowSSNValidationWarning", "Product", new { })';
    $(document).ready(function () {
        var hdnCashierAgree = '@Session["isCashierAgree"]';
        $('#hdnCashierAgree').val(hdnCashierAgree);
        $(".ClosedProfile").each(function () {
            $(this).addClass("DisableButtons").attr('disabled', 'disabled');
            $('.nav_item').addClass('disable_pointer_nav_item');
        });
        $(".DisableButtons").each(function () {
            $(this).attr('disabled', 'disabled');
            $('.nav_item').addClass('disable_pointer_nav_item');
        });
        @*Disabling product menu in crome,firefox etc.. browsers if the customer status is closed*@
        $('a').bind("click", function (e) {
            if ($(this).attr('disabled') == 'disabled') {
                e.preventDefault();
                e.stopImmediatePropagation();
                //$(this).attr('href', '');
            }
        }); @* AL-378 changes end*@
    });
</script>
<script src="@Url.Content("~/Scripts/Common/ProductMenu.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<input type="hidden" id="hdnCashierAgree" value="" />
<ul class="menuClass" id="selection">
    <li class="nav_head">
        <a href="#">Products</a>
        @*@Html.ActionLink("Products", "ProductInformation", "Product")*@
    </li>
    @* This is the condition to display product menu other than compliance manager*@
    @if ((int)Session["UserRoleId"] != (int)TCF.Zeo.Common.Util.Helper.UserRoles.ComplianceManager && (int)Session["UserRoleId"] != (int)TCF.Zeo.Common.Util.Helper.UserRoles.Tech)
    {
        var IsGPRCard = Convert.ToBoolean(Session["IsGPRCard"]);
        var providers = Model.Providers.GroupBy(c => c.ProductDisplayName).Select(c => c.First()).ToList();

        string closedProfile = string.Empty;
        foreach (var provider in providers)
        {
            //Added a code to enable/disable the feature in the Product Menu.
            bool isEnabled = true;
            if (provider.ProductDisplayName.ToLower().Contains("bill payment") || provider.ProductDisplayName.ToLower().Contains("send money")
                    || provider.ProductDisplayName.ToLower().Contains("receive money"))
            {
                var feature = Model.FeatureList.Where(f => f.FeatureName.ToLower().Contains("western union")).FirstOrDefault();

                if (feature != null)
                {
                    isEnabled = feature.IsEnabled;
                }
            }

            if (provider.ProductDisplayName.ToLower().Contains("prepaid card"))
            {
                var feature = Model.FeatureList.Where(f => f.FeatureName.ToLower().Contains("card purchase")).FirstOrDefault();

                if (feature != null && !IsGPRCard)
                {
                    isEnabled = feature.IsEnabled;
                }
            }

            string ssnValidationClass = provider.IsSSNRequired ? " SSN" : string.Empty;
            string swbValidationClass = provider.IsSWBRequired ? " SWB" : string.Empty;
            string cannotTransact = !provider.CanCustomerTransact || !isEnabled ? " DisableButtons" : string.Empty;

            if (Session["activeButton"] != null && (string)Session["activeButton"] == provider.Name.ToLower())
            {
                <li class="nav_item_select nav_icon_@provider.Name.ToLower()">
                    @Html.ActionLink(provider.ProductDisplayName, provider.ActionName, provider.ControllerName, new { }, new { @id = provider.ActionName, @class = "nav_name" + ssnValidationClass + swbValidationClass + " validate " })
                </li>}
            else
            {
                if (!provider.CanCustomerTransact || !isEnabled)
                {
                    <li class="nav_item nav_icon_@provider.Name.ToLower()_disable">
                        @Html.ActionLink(provider.ProductDisplayName, provider.ActionName, provider.ControllerName, new { }, new { @id = provider.ActionName, @class = "nav_name" + closedProfile + ssnValidationClass + swbValidationClass + cannotTransact + " validate " })
                   
                        @if (provider.ProductDisplayName.ToLower().Contains("prepaid card") && isEnabled)
                        {
                                    @*<a href="#" class="tooltip" bubbletooltipright="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.PromoNameToolTip">
                        <img src="~/Content/images/Information.png" />
                    </a>*@
                                    <span style="position: relative;bottom: 26px;left: 210px;color: #fff;">
                                        <img src="/Content/images/Information.png">
                                    </span>
                        }
                     </li>    
                }
                else
                {
                    <li class="nav_item nav_icon_@provider.Name.ToLower()_dis">
                        @Html.ActionLink(provider.ProductDisplayName, provider.ActionName, provider.ControllerName, new { }, new { @id = provider.ActionName, @class = "nav_name" + ssnValidationClass + swbValidationClass + " validate " })
                        @if (provider.ProductDisplayName.ToLower().Contains("prepaid card") && isEnabled)
                        {
                            @*<a href="#" class="tooltip" bubbletooltipright="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.PromoNameToolTip">
                <img src="~/Content/images/Information.png" />
            </a>*@
                            <span style="position: relative;bottom: 26px;left: 210px; color: #fff;">
                                <img src="/Content/images/Information.png">
                            </span>
                        }
                    </li>
                }
            }

           
        }
    }
    @* Transaction history is not a product and its required to show all agents *@
    @if (Session["activeButton"] != null && (string)Session["activeButton"] == "transactionhistory")
    {
        <li class="nav_item_select nav_icon_transactionhistory">
            @Html.ActionLink(TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.TransactionHistory, "TransactionHistory", "TransactionHistory", new { }, new { @class = "nav_name" })
        </li>
    }
    else
    {
        <li class="nav_item nav_icon_transactionhistory_dis">
            @Html.ActionLink(TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.TransactionHistory, "TransactionHistory", "TransactionHistory", new { }, new { @class = "nav_name" })
        </li>
    }
</ul>
