@model TCF.Channel.Zeo.Web.Models.ParkTransaction
<div>

	<hgroup>
		<h1>@Html.Raw(ViewBag.Message)</h1>
	</hgroup>
	<div>
		<img src="@Url.Content(string.Format("~/Content/images/{0}", @Model.IconName))" width="20" height="20" />
		<span class="park_trans_amt">@Model.Detail&nbsp;&nbsp;&nbsp;&nbsp;$@Model.Amount.ToString("0.00")</span>
	</div>
	<div class="push_width400_fix">
		<ul>
			<li>@Html.ActionLink("Park", "ParkShoppingCartItem", "ShoppingCart", new { id = @ViewBag.CartItemId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_btn" })</li>
			<li>@Html.ActionLink("Edit", "ProductCredential", "VISAProductCredential", new { transactionId = @ViewBag.CartItemId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_btn" })</li>
			<li><input type="button" class="grey_btn" style="width:130px" value="Close" onclick="javascript:$('#dlgCancel').dialog('destroy').remove();" /></li>
			<li>@Html.ActionLink("Remove", "DeleteShoppingCartItem", "ShoppingCart", new { id = @ViewBag.CartItemId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_red_btn" })</li>
		</ul>
	</div>
</div>
<script src="@Url.Content("~/Scripts/Fund/Visa.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script type="text/javascript">
	var ItemId = '@ViewBag.CartItemId';
	var ScreenName = '@ViewBag.screenName';
	var Product = '@ViewBag.product';	
</script>
