@model TCF.Channel.Zeo.Web.Models.MoneyTransferTransactionDetailsViewModel
@{
	Layout = null;
}

<script src="@Url.Content("~/Scripts/TransactionHistory/TransactionHistory.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script> 
<script src="@Url.Content("~/Scripts/ShoppingCart/PrintReceipt.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>

<div class="trxpopup_row">
	<h1 class="trxpopup_title">
		@if (Model.TransactionSubType == "1")
		{
			@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyCancelTranHistoryTitle
		}
		else if (Model.TransactionSubType == "2")
		{
			@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyTransferModifyTranHistoryTitle
		}
		else if (Model.TransactionSubType == "3")
		{
			@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyRefundTranHistoryTittle
		}
		else if (Model.TransactionType == "SendMoneyRefund")
		{
			@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyRefundTranHistoryTittle
		}
		else
		{
			@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyTransferTranHistoryTitle
		}
		@if (Model.TransactionStatus != null)
		{
			if (Model.TransactionSubType != "1" && Model.TransactionStatus.ToLower() == "committed")
			{
				<span>
					<input type="button" value="Reprint Receipt" class="trxpopup_reprint_btn" id="btnPrintReceipt" />
				</span>
			}
		}
	</h1>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.TransactionId, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">@Html.DisplayFor(model => model.TransactionId)</span>
	@if (!string.IsNullOrWhiteSpace(Model.TransactionStatus) &&  Model.TransactionStatus.ToLower() == "committed" && Model.TransactionSubType != "1")
	{
		<div style="margin-left: 80%;">
			<input type="checkbox" id="chkbox_reprintSummaryReceipt" class="trxpopup_reprint_btn"> Include summary receipt in reprint
		</div>
	}
	<h1 class="trxpopup_title" style="margin-left: 65%;">
		<span>
			<input type="button" id="CancelTransaction" value="Close" class="trxpopup_close_btn"
				   onclick="javascript:ClosePopup();" />
		</span>
	</h1>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.TransactionStatus, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">@Html.DisplayFor(model => model.TransactionStatus)</span>
</div>
<div class="trxpopup_topspace_row">
	@Html.LabelFor(model => model.TransferAmount, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">$@Html.DisplayFor(model => model.TransferAmount)</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.Fee, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">$@Html.DisplayFor(model => model.Fee)</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.Discount, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">
		@if (Model.Discount != 0)
		{ @Html.Label("$")@Html.DisplayFor(model => model.Discount);
		}
		else
		{ @Html.Label("NA");
		}
	</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.PromotionName, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">@Html.DisplayFor(model => model.PromotionName)</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.PromotionDescription, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">@Html.DisplayFor(model => model.PromotionDescription)</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.NetFee, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">$@Html.DisplayFor(model => model.NetFee)</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.TransferTax, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">
		@if (Model.TransferTax != 0)
		{ @Html.Label("$")@Html.DisplayFor(model => model.TransferTax);
		}
		else
		{ @Html.Label("NA");
		}
	</span>
</div>
<div class="trxpopup_topspace_row">
	@Html.LabelFor(model => model.Total, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">$@Html.DisplayFor(model => model.Total)</span>
</div>
<div class="trxpopup_topspace_row">
	@Html.LabelFor(model => model.ReceiverName, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">@Html.DisplayFor(model => model.ReceiverName)</span>
</div>
<div class="trxpopup_row">
	@Html.LabelFor(model => model.ReceiverAddress, new { @class = "trxpopup_label" })
	<span class="trxpopup_label">@Html.DisplayFor(model => model.ReceiverAddress)</span>
</div>
<div>
	@if (!string.IsNullOrEmpty(Model.ProviderName) && File.Exists(Server.MapPath(VirtualPathUtility.ToAbsolute("~/Views/Shared" + "/_partial" + Model.ProviderName + "SendMoneyTransactionDetails.cshtml"))))
	{
		@Html.Partial("_partial" + Model.ProviderName + "SendMoneyTransactionDetails", Model)
	}
</div>
<script type="text/javascript">
	hideSpinner();
	$(document).ready(function () {
		var exceptionMsg = '@ViewBag.Errormsg';
		if (exceptionMsg != '') {
			showExceptionPopupMsg(exceptionMsg);
		}
		$('#btnPrintReceipt').click(function () {
			var btnprint = $(this);
			var reprintSummary = $("#chkbox_reprintSummaryReceipt")[0].checked;
			PrintTrxAndSummaryReceipt(btnprint, '@Model.TransactionId', '@Model.TransactionType', reprintSummary);
		});
	});
</script>



