@model TCF.Channel.Zeo.Web.Models.SystemMessage
<div class="system_msg_wrap">
    <div class="m_type">
        @Html.LabelFor(model => model.Type)
        <span class="m_type_span">@Html.DisplayFor(model => model.Type, new { @disabled = "disabled" })</span>
    </div>
    <div class="m_num">
        @Html.LabelFor(model => model.Number)
        <span class="m_num_span">@Html.DisplayFor(model => model.Number, new { @disabled = "disabled" })</span>
    </div>
    <br />
    <br />
    <div class="float_left">
        @Html.LabelFor(model => model.Message)
        @{           
            string errorimgUrl = Url.Content(string.Format("~/Content/images/{0}.jpg", @Model.ErrorType));
            <img width="23" height="23" alt=" " src="@errorimgUrl" class="m_err_img">
        }
    </div>
    <div class="m_msg_wrap">
        @Model.Message
    </div>
  
    @if (!string.IsNullOrWhiteSpace(Model.AddlDetails))
    {
        <br />
        <br />

        <div class="clear_both float_left">
            @Html.LabelFor(model => model.AddlDetails, new { @class = "m_add_det" })
        </div>
        <div class="m_add_det_lbl">
            @MvcHtmlString.Create(Model.AddlDetails.Replace("\r\n", "<br />"))
        </div>
        <br />
        <br />

    }
    <div class="txt_center">
        <ul>
            <li class="SrchButtonWidth margin_top_two">
                <input type="button" value="Ok" id="btnOk" onclick="javascript:$('#divOk').dialog('destroy').remove();"
                    class="green_input push_top10_fix" />
            </li>
        </ul>
    </div>
</div>
