@model MGI.Channel.DMS.Web.Models.SendMoney
<script type="text/javascript">

    jQuery(document).ready(function () {

        var jqDataUrl = '@Url.Action("DisplayAddReceiver", "SendMoney")';
        // Set up the jquery grid
        jQuery("#jqTable").jqGrid({

            // Ajax related configurations
            url: jqDataUrl,
            datatype: "json",
            mtype: "POST",

            // Specify the column names
            colNames: ["Select", "First Name", "Last Name", "Status", "Country", "State", "City"],

            // Configure the columns
            colModel: [
            { name: "Select", index: "Select", width: 150, align: "center",

                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject[3].toString() == "Active")
                        return '<input type="radio" id="radioSelect" name="select" value="' + rowObject[0] + '"/>' 
                    else
                        return '<input type="radio" id="radioSelect" disabled="true" name="select" value="' + rowObject[0] + '"/>' 
                }

            },
            { name: "FirstName", index: "FirstName", width: 150, align: "center"
                , formatter: function (cellvalue, options, rowObject) {
                    return '<a style="text-decoration:underline;color:#0000ff" onclick="editReceiver(\''
                        + rowObject[0].toString() + '\')">' + rowObject[1].toString() + '</a>'
                }
            },
            { name: "LastName", index: "Type", width: 180, align: "center"
                            , formatter: function (cellvalue, options, rowObject) {
                                return '<a style="text-decoration:underline;color:#0000ff" onclick="editReceiver(\''
                        + rowObject[0].toString() + '\')">' + rowObject[2].toString() + '</a>'
                            }
            },
            { name: "Status", index: "Status", width: 200, align: "center" },
            { name: "Country", index: "Country", width: 140, align: "center" },
            { name: "State", index: "State", width: 160, align: "center" },
            { name: "City", index: "City", width: 160, align: "center" }
            ],

            // Grid total width and height
            cmTemplate: { sortable: false },
            width: 600,
            height: 200,

            // Paging
            toppager: false,
            pager: jQuery("#jqTablePager"),
            rowNum: 5,
            rowList: [5, 10, 20],
            viewrecords: true, // Specify if "total number of records" is displayed

            // Default sorting
            // sortname: "FName",
            // sortorder: "asc",

            // Grid caption
            caption: "Select Receiver"
        }).navGrid("#jqTablePager",
            { refresh: false, search: false, add: false, edit: false, del: false },
                {}, // settings for edit
                {}, // settings for add
                {}, // settings for delete
                {sopt: ["cn"]} // Search options. Some options can be set on column level
         );
    });
    function placeRadioButton(cellvalue, options, rowObject) {
        if (rowObject[3] === true)
            return '<input type="radio" id="radioSelect" name="select" value="' + rowObject[0] + '"/>'
        else
            return '<input type="radio" id="radioSelect" disabled="true" name="select" value="' + rowObject[0] + '"/>'
    }
</script>
<script type="text/javascript">
    function cancelTrans() {
        //var canRef = document.getElementById("CancelTransactionPopUpNoConfirm");
        //canRef.addEventListener("click", showPopUp(), false);
        var dlgGrid = $('#findReceiver');
        dlgGrid.dialog("destroy").remove();
    }

    function showPopUp() {
        var $confirmation = $("<div id='dlgCancel'></div>");
        $confirmation.empty();
        $confirmation.dialog({
            autoOpen: false,
            title: "MGiAlloy",
            width: 400,
            draggable: false,
            modal: true,
            minHeight: 150,
            resizable: false,
			closeOnEscape: false,
            open: function (event, ui) {
                $confirmation.load(cancelPopURL);
            }
        });
        $confirmation.dialog("open");
    }
</script>
<script type="text/javascript">
    function createReceiver() {
        var canRef = document.getElementById("CreateReceiver");
        canRef.addEventListener("click", receiverPopUp(), false);
    }
    function receiverPopUp() {

        var $confirm = $("<div id='findReceiver'></div>");
        $confirm.empty();
        $confirm.dialog({
            autoOpen: false,
            title: "Create Receiver",
            width: 650,
            draggable: false,
            closeOnEscape: false,
            resizable: false,
            modal: true,
            height: 750,
            open: function (event, ui) {
                $confirm.load(createReceiverURL);
            }
        });

        $confirm.dialog("open");
    }
</script>
<script type="text/javascript">
    function editReceiver(id) {
        var $confirm = $("<div id='findReceiver'></div>");
        $confirm.empty();
        $confirm.dialog({
            autoOpen: false,
            title: "Edit Receiver",
            width: 650,
            draggable: false,
            closeOnEscape: false,
            resizable: false,
            modal: true,
            height: 750,
            open: function (event, ui) {
                var url = getReceiverForEditURL + '?ReceiverId=' + id + '&cheatDate=' + Date.now();
                $confirm.load(url);
            }
        });

        $confirm.find('input:text, textarea').val('').attr('placeholder', 'Enter some value');
        $confirm.find('select').val(''); //you need to have and option like <option value="">Please Select</option> in your select options list
        $confirm.dialog("open");
    }
</script>
<script type="text/javascript">
    function selectReceiver() {
        var canRef = document.getElementById("SelectReceiver");
        canRef.addEventListener("click", SelReceiver(), false);
    }
    function SelReceiver() {
        var receiverID = $("input:radio[name='select']:checked").val();
        if (receiverID != undefined) {
            var url = selectReceiverURL + '?ReceiverID=' + receiverID;
            window.location.href = url; //"/SendMoney/SelectReceiver/?ReceiverID=" + receiverID;
        }
        else {
            showExceptionPopupMsg("Select a Receiver");
        }
    }

</script>
<script type="text/javascript">
    function findReceiver() {
        var canRef = document.getElementById("FindReceiver");
        canRef.addEventListener("click", reloadGrid(), false);
    }
    function reloadGrid() {
        var receiverID = document.getElementById("ReceiverSearch").value;
        var url = '@Url.Action("DisplayAddReceiver", "SendMoney")';
        url += '/?searchTerm=' + receiverID;
        $('#jqTable').setGridParam({ url: url }).trigger('reloadGrid');
    }

    function jqGridOverlayRemove() {
        $(".ui-widget-overlay jqgrid-overlay").remove();
    }
</script>
<script src="@Url.Content("~/Scripts/SendMoney/SendMoney.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{

    <div>
        <hgroup>
            <h2>Receiver</h2>
        </hgroup>
    </div>
    <div>
        @Html.LabelFor(model => model.SearchForReceiver, new { style = "width:170px;" })
        @Html.TextBoxFor(model => model.SearchForReceiver, new { style = "margin-left:14px;", id = "ReceiverSearch" })&nbsp;&nbsp;
        <input type="button" id="FindReceiver" value="Find" onclick="findReceiver()" />
    </div>
    <br />
    <div id="griddiv">
        <table id="jqTable" class="scroll">
        </table>
        <div id="jqTablePager" />
    </div>
    <br />
    
    <br />
    <div class="float_right">
        <ul>
            <li><input type="button" id="CancelTransactionPopUp" value="Cancel" onclick="cancelTrans()" /></li>
            <li><input type="button" id="SelectReceiver" value="Select" onclick="selectReceiver()" /></li>
            <li><input type="button" id="CreateReceiver" value="CreateReceiver" onclick="createReceiver()" /></li>
        </ul>
    </div>
    
}