@model MGI.Channel.DMS.Web.Models.PrePaidCard
<script>
	var successfullCardClosureConformation_URL = '@Url.Action("SuccessfulCardClosureConformation", "VISAProductCredential")';
	var	prepaidPurchuse_URL = '@Url.Action("ProductCredential", "VISAProductCredential")'
</script>

@Html.Partial("_partialSpinner")
<div class="cFont" style="margin-left:10px;">
	<div style="margin-top: 5px; margin-left:5px;">
		<div style=" width: 380px">
			<p style="line-height: 1.2;">
				Verify account closure request with customer. Available balance should be
				withdrawn prior to closure by clicking cancel and processing a withdrawal.
				Confirm exact amount of pending transactions prior to final withdrawal.
			</p>
		</div>
	</div>
	<div style="margin-bottom:20px; margin-top:15px;">
		<div style="margin-bottom:8px;">
			@Html.LabelFor(model => model.Name, new { @class = "row_label_txt" })
			@Html.TextBoxFor(model => model.Name, new { @class = "disable_txt", readOnly = "true" })
		</div>
		<div>
			@Html.LabelFor(model => model.CardNumber, new { @class = "row_label_txt" })
			@Html.TextBoxFor(model => model.CardNumber, new { @class = "disable_txt", readOnly = "true" })
		</div>
	</div>
	<div style=" text-align: center; margin-bottom:0px">
		<ul>
			<li>
				<input type="button" value="Cancel" class="red_btn width_fix100" onclick="RemovePopUp();" />
			</li>
			<li>
				<input type="button" value="Submit" onclick="CloseAccount(@Model.customerSession.CustomerSessionId)" class="green_input width_fix100" />
			</li>
		</ul>
	</div>
</div>

@*@Html.HiddenFor(Model => Model.customerSession.CustomerSessionId)*@