@model MGI.Channel.DMS.Web.Models.TerminalModel
@{
    ViewBag.Title = "ChooseLocation";
}
<script type="text/javascript">
        $('#ddlChooseLocation').change(function () {
            var selected = this.value;
            if (selected != '' && selected != '0') {              
                $("#divconfirm").css('visibility', 'visible');
            }
            else {
                $("#divconfirm").css('visibility', 'hidden');
            }
        });
</script>
@using (Html.BeginForm("ChooseLocation", "TerminalSetup"))
{
    <br />
    <br />
    <div class="spacer">
        <div>
            @Html.Label("Terminal Location", new { style = "font-size:14px;color:#000000;margin-left:-2px;" })
            &nbsp; &nbsp;
            @Html.DropDownListFor(model => model.Location, Model.Locations, new { @class = "optDropDown", Id = "ddlChooseLocation" })
        </div>
        <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.Location)
        </div>
    </div> 
    <br />
    <br />
    <div style="float: left; margin-left: 29.1%; visibility:hidden;" id="divconfirm">
        <ul>
            <li class="SrchButtonWdth">
                <input type="submit" id="btnConfim" value="Confirm" style="margin-right: 5px;" />
            </li>
        </ul>
    </div>
    @Html.TextBoxFor(model => model.TerminalName, new { style = "display:none" })
    @Html.TextBoxFor(model => model.IpAddress, new { style = "display:none" })
    @Html.TextBoxFor(model => model.NpsTerminal, new { style = "display:none" })
    @Html.TextAreaFor(model => model.Id, new { style = "display:none" })
    
}