@model MGI.Channel.DMS.Web.Models.CheckFrankingDetailsViewModel
@{
	Layout = null;
}
<script src="@Url.Content("~/Scripts/Check/CheckFranking.js")" type="text/javascript"></script>
<script type="text/javascript">
	var chkslno;
	var PrintStatus = false;
	var $cancelconfirm = $("<div id='divcancelFrankPopup'></div>");
	var CancelCheckFrankingPopupURL = '@Url.Action("DisplayCheckFrankingCancelDetails", "shoppingcart")';
	var transactionID = parseInt('@Model.TransactionID');
	$(document).ready(function () {
		$('#btnPrint').click(function () {
			PrintEvent(transactionID);
		});
		//US1421 changes
		if ('@Model.FrankData' == '') {
			showExceptionPopupMsg('Check endorse data is not available');
			$('#divFrankPopup').dialog('destroy').remove();
		}
		chkslno = parseInt('@Model.chkSlno') + parseInt(1);
		frankdata = JSON.stringify('@Model.FrankData');
	});

	function CancelCheckFranking() {
		$cancelconfirm.empty();
		$cancelconfirm.dialog({
			autoOpen: false,
			title: 'Check Endorsing',
			width: 500,
			draggable: false,
			resizable: false,
			closeOnEscape: false,
			modal: true,
			height: 220,
			open: function (event, ui) {
				var url = CancelCheckFrankingPopupURL + '?chkslno=' + chkslno;
				$cancelconfirm.load(url);
			}
		});
		$cancelconfirm.dialog("open");
	}

</script>
<div>
	<div class="row5">
		<h1>
			@Model.DisplayMsg
		</h1>
	</div>
	<div align="center">
		<img id="CheckImage" alt="checkimage " src="@Url.Content("~/Content/images/CheckScanInstruction.JPG")"/>
	</div>
	<div align="center">
		<ul>
			<li>
				<input type="button" class="red_btn" value="Cancel" id="btnCancel" onclick="CancelCheckFranking();" /></li>
			<li>
				<input type="button" class="anc_link_btn green_input" value="Print" id="btnPrint" /></li>
		</ul>
	</div>
</div>
