@model MGI.Channel.DMS.Web.Models.MoneyTransferTransactionDetailsViewModel
@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/Common/lib/spin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SendMoney/MoneyGramModifyRefund.js")" type="text/javascript"></script>
<script type="text/javascript">
    var MTCN = '@Model.MTCN';
    var RefundClick_URL = '@Url.Action("GetRefundStatus", "TransactionHistory")' + "?MTCN=" + MTCN;
    var ModifyClick_URL = '@Url.Action("GetTransactionForModify", "TransactionHistory")' + "?MTCN=" + MTCN;
    var ModifySubmitClick_URL = '@Url.Action("SendMoneyModifySubmit", "TransactionHistory")';
    var SendMoneyConfirm_URL = '@Url.Action("SendMoneyConfirm", "TransactionHistory")';
    var SendMoneyStageRefundSubmit_URL = '@Url.Action("SendMoneyStageRefundSubmit", "TransactionHistory")';
    var ShoppingCartCheckout_URL = '@Url.Action("ShoppingCartCheckout", "ShoppingCart")';
    var SendMoneyModifySuccess_URL = '@Url.Action("SendMoneyModifySuccess", "TransactionHistory")' + "?MTCN=" + MTCN;


    var TransactionId = '@Model.TransactionId';
    var ConfirmationNumber = '@Model.MTCN';
    var RefundStatus = "@MGI.Channel.DMS.Server.Data.RefundType.PrincipalAmount.ToString()";
</script>
@Html.Partial("_partialSpinner")
<div class="trxpopup_provider_div">
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.ReferenceNumber, new { @class = "trxPopUpLabel" })
        <span class="trxPopUpLabel">@Html.DisplayFor(model => model.MTCN)</span>
    </div>
    @if (@ViewBag.IsAgentSession == null || @ViewBag.IsAgentSession == false)
    {
        <div>
            @if (Model.isAddedtoShoppingCart)
            {
                <label class="row_label_txt_Status">
                    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyModifyAddedToShoppingCart
                </label>
                
            }
            else if (Model.TransactionSubType == "3")
            {
                <label class="row_label_txt_Status">
                    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyRefundTransactionMSG
                </label>
            }
            else if (Model.PayStatus == "AVAIL")
            {
                <div>
                    @if ((Model.TransactionSubType == "2" && Model.isModifiedOrRefunded == false)
                       || Model.TransactionSubType == null)
                    {
                        <label class="row_label_txt_Status">
                            @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyModifyAVAIL
                        </label>
                        if (Session["CustomerSession"] != null)
                        {
                        <div class="trxpopup_topspace_row" style="padding-right: 34%;">
                            <input type="button" value="Refund" class="orange_btn" id="btnRefund" />
                            <input type="button" value="Modify" class="green_input" id="btnModify" />
                        </div>
                        }
                    }
                </div>
            }
            else if (String.IsNullOrWhiteSpace(Model.PayStatus))
            {
                if (Model.TransactionSubType == "1")
                {
                <label class="row_label_txt_Status">
                    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyCancelledTransaction
                </label>
                }
                else if ((Model.TransactionSubType == "2" && Model.isModifiedOrRefunded == true) || (Model.TransactionSubType == null && Model.isModifiedOrRefunded == true))
                {
                <label class="row_label_txt_Status">
                    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyAlreadyModified
                </label>
                }
                else
                {
                
                <label class="row_label_txt_Status">
                    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MG_PayRequestStatusCode_Null
                </label>
                }
            }
            else
            {
                <label class="row_label_txt_Status">
                    Transaction status code = @Model.PayStatus : @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyModifyNotAVAIL
                </label>
                
            }
        </div>
        <div id="divRefund" class="trxpopup_row hide">
            <div class="trxpopup_row clear_both">
                <div>
                    @Html.LabelFor(model => model.RefundStatus, new { @class = "row_label_txt send_mny_trns_refund_status" })
                    <label id="lblRefundStatus">
                    </label>
                </div>
            </div>
            @if (Model.RefundCategory != null)
            {
                <div class="trxpopup_row clear_both hide" id="divReasonForRefund">
                    <div>
                        @Html.LabelFor(model => model.ReasonforRefund, new { @class = "row_label_txt" })
                        @Html.DropDownListFor(model => model.RefundCategory, null, new { @class = "dropdown_box" })
                    </div>
                    <div class="error_align_left hide" id="divRefundCatValidation">
                        <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.RefundCategoryError</p>
                    </div>
                </div>
            }
            <div class="SendMoneyModifyButtonAlign">
                <span>
                    <input type="button" value="Submit" class="green_input" id="btnRefSubmit" />
                </span>
            </div>
        </div>
        <div id="divModify" class="trxpopup_row hide">
            <div class="trxpopup_row clear_both">
                <label class="row_label_txt send_money_Scn_txt">
                    @Html.Label(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.FirstName)
                </label>
                @Html.TextBoxFor(model => model.FirstName, null, new { @class = "input_box", id = "txtFirstName", @maxlength = 15 })
                <div class="error_align_left hide" id="divFNameValidation">
                    <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PersonalFirstNameRegularExpression</p>
                </div>
                <div class="error_align_left hide" id="divFNameReqValidation">
                    <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyFirstNameRequired</p>
                </div>
            </div>
            <div class="trxpopup_row clear_both">
                <div>
                    <label class="row_label_txt send_money_Scn_txt">
                        @Html.Label(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyMiddleName)</label>
                    @Html.TextBoxFor(model => model.MiddleName, null, new { @class = "input_box", id = "txtMiddleName", @maxlength = 50 })
                </div>
                <div class="error_align_left  hide" id="divMNameValidation">
                    <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PersonalMiddleNameRegularExpression</p>
                </div>
            </div>
            <div class="trxpopup_row clear_both">
                <div>
                    <label class="row_label_txt send_money_Scn_txt">
                        @Html.Label(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.LastName)</label>
                    @Html.TextBoxFor(model => model.LastName, null, new { @class = "input_box", id = "txtLastName", @maxlength = 25 })
                </div>
                <div class="error_align_left hide" id="divLNameValidation">
                    <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PersonalLastNameRegularExpression</p>
                </div>
                <div class="error_align_left hide" id="divLNameReqValidation">
                    <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyLastNameRequired</p>
                </div>
            </div>
            <div class="trxpopup_row clear_both">
                <div>
                    @Html.LabelFor(model => model.RecieverSecondLastName, new { @class = "row_label_txt" })
                    @Html.TextBoxFor(model => model.RecieverSecondLastName, null, new { @class = "input_box", id = "txtSecLastName", @maxlength = 50 })
                </div>
                <div class="error_align_left  hide" id="divSecLNameValidation">
                    <p class="error_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PersonalSecondLastNameRegularExpression</p>
                </div>
                <div id="divModifyTransactionMsg" class=" error_align_left hide">
                    <label class="error_txt">
                        @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SendMoneyModifyTransactionMsg
                    </label>
                </div>
            </div>
            <div class="SendMoneyModifyButtonAlign">
                <span>
                    <input type="button" value="Submit" class="trxbuttonText" id="btnModifySubmit" />
                </span>
            </div>
        </div>
       
    }
</div>
@Html.TextBoxFor(model => model.RefundStatus, new { style = "display:none" })
@Html.TextBoxFor(model => model.FeeRefund, new { style = "display:none" })
