@model MGI.Channel.DMS.Web.Models.CheckTransactionModel
@{
    Layout = null;
}

<div class="row5">
	<h1 class="font_17" >
		@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ChkTranHistoryTitle
		@if (Model.TransactionStatus.ToLower() == "committed")
		{ 
			<span>
				<input type="button" value="Reprint Receipt" class="green_input" id="btnPrintReceipt"/>
			</span>
		}
	</h1>
</div>
<div class="row5">
    @Html.LabelFor(model => model.CheckNumber, new { @class = "font_15" })
    <span class="font_15 shift_left1">@Html.DisplayFor(model => model.CheckNumber)</span>
</div>
<div class="row5">
    @Html.LabelFor(model => model.Type, new { @class = "font_15" })
    <span class="font_15 shift_left1">@Html.DisplayFor(model => model.Type)</span>
</div>
<div class="row5">
    @Html.LabelFor(model => model.Amount, new { @class = "font_15" })
    <span class="font_15 shift_left1">$@Html.DisplayFor(model => model.Amount)</span>
</div>
<div class="row5">
    @Html.LabelFor(model => model.Fee, new { @class = "font_15" })
    <span class="font_15 shift_left1">$@Html.DisplayFor(model => model.Fee)</span>
</div>
<div class="row5">
    @Html.LabelFor(model => model.ConfirmationNumber, new { @class = "font_15 bold"})
    <span class="font_15 shift_left1">@Html.DisplayFor(model => model.ConfirmationNumber)</span>
</div>
<div>
    <div class="check_req">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckFrontImageLabel</div>
    <img id="CheckFrontImage" class="check_img" src="" alt="checkFrontImage" />
    <div class="check_req">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckBackImageLabel</div>
    <img id="CheckBackImage" class="check_img" src="" alt="checkBackImage" />
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        ShowCheckFrontImage("@Model.CheckFrontImage");
        ShowCheckBackImage("@Model.CheckBackImage");
    });
</script>
<div class="float_left row_shift30"><input type="button" value="Close" onclick="javascript:$('#divPrepaid').dialog('destroy').remove();" class="green_input"/></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrintReceipt').click(function () {
            var btnprint = $(this);
            var reprintSummary = $("#chkbox_reprintSummaryReceipt")[0].checked;
            RePrintReceipt(btnprint, '@Model.TransactionId', '@Model.TransactionType', reprintSummary);
        });
    });    
</script>
