@model MGI.Channel.DMS.Web.Models.PersonalInformation
<script type="text/javascript">
    $(document).ready(function () {
        $("#CardNumber").attr('maxLength', '@Model.CardLength');
    });
</script>
@*<div class="row">
    <div>
           <label class="row_label_txt">@Html.RequiredField(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CardNumber)</label>
       
        @Html.TextBoxFor(model => model.CardNumber, new { @class = "input_box", tabindex = 1, autocomplete = "off" })
    </div>
    <div class="error_align_left">
        @Html.ValidationMessageFor(model => model.CardNumber)
    </div>
</div>*@
@Html.HiddenFor(model => model.channelPartner.AuthenticationType)
@Html.HiddenFor(model => model.CardLength)
