@model MGI.Channel.DMS.Web.Models.Preference
<div class="row row_space_fix">
	<div>
		@Html.LabelFor(model => model.ReceiveTextMessage, new { @class = "row_label_txt" })
		@Html.CheckBoxFor(m => Model.ReceiveTextMessage, new { tabindex = 27, autocomplete = "off" })
	</div>
	<div class="error_align_left"> @Html.ValidationMessageFor(model => model.ReceiveTextMessage) </div>
</div>
<div class="row row_space_fix">
	<div>
		@Html.LabelFor(model => model.DoNotCall, new { @class = "row_label_txt" })
		@Html.CheckBoxFor(m => Model.DoNotCall, new { tabindex = 28, autocomplete = "off" })
	</div>
	<div class="error_align_left"> @Html.ValidationMessageFor(model => model.DoNotCall) </div>
</div>

<div class="row row_space_fix">
	<div>
		@Html.LabelFor(model => model.CustomerProfileStatus, new { @class = "row_label_txt" })
		@Html.HiddenFor(model => model.ClientProfileStatus)
		<span class="leftDropDown">@Html.DropDownListFor(m => m.CustomerProfileStatus, Model.LProfileStatus, new { @class = "dropdown_box", autocomplete = "off" })</span>
		@Html.HiddenFor(model => model.CustomerProfileStatus, new { @id = "hdnCustomerProfileStatus" })
		</div>
	<div class="error_align_left"> @Html.ValidationMessageFor(model => model.CustomerProfileStatus) </div>
</div>
