@model MGI.Channel.DMS.Web.Models.CheckTransaction
@{
    ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ApprovedCheckTransaction;
    Layout = null;
}
<script src="@Url.Content("~/Scripts/Check/Check.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ShoppingCart/ShoppingItemDisplay.js")" type="text/javascript"></script>
<div align="center">
    <img id="CheckFrontImage" src="" class="check_img" alt="" />
    <script language="javascript" type="text/javascript">
    $(document).ready(function () {
        ShowCheckFrontImage("@Model.CheckFrontImage");
    });
        var DeleteURL = '@Url.Action("DeleteCartItem", "CancelTransaction")'
    </script>
</div>
<center class="status_msg">
    <br />
    Check is @Model.CheckStatus
    <br />
</center>
<div class="row">
    <div class="txt_center">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.AmountCreditedAccount
        <span class="row"><strong>$</strong>@Model.AmountCredited.ToString("0.00")
        </span>
    </div>
</div>
<div class="row">
    <div class="txt_center">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CheckCashingFee
        <span class="row"><strong>$</strong>@Model.CheckCashingFee.ToString("0.00")
        </span>
    </div>
</div>
<img src='@Url.Content("~/Content/images/Line2.jpg")' alt="" class="row_shift20" />
<div class="row">
    <div class="txt_center row_shift12">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.NetAmount
        <span class="row"><strong>$</strong>@Model.NetAmount.ToString("0.00") </span>
    </div>
</div>
@if (Model.StatusDescription != null) {
<div class="txt_left ">
    @Html.LabelFor(model => model.StatusDescription, new { style = "width:170px;" })
    @Html.TextBoxFor(model => model.StatusDescription, new { readOnly = "true", style = "background-color:#EEEEEE" })
</div>
}
<br />
<div class="float_left row_shift30">
    <input type="button" id="submitLink" value="Close" onclick="closethis();" />
</div>
