@*@model MGI.Channel.DMS.Web.Models.WesternUnionDetails
<div class="row">
    <div>
            @Html.LabelFor(model => model.GoldCardNumber, new { @class = "row_label_txt" })
            @Html.TextBoxFor(model => model.GoldCardNumber, new { @class = "input_box" })
        </div>
       <div class="error_align_left">
            @Html.ValidationMessageFor(model => model.GoldCardNumber)
        </div>
</div>
<div class="row">
    <div>
            @Html.LabelFor(model => model.SmsOptIn, new { @class = "row_label_txt" })
             @Html.CheckBoxFor(m => Model.SmsOptIn)
        </div>
       <div class="error_align_left">
             @Html.ValidationMessageFor(model => model.SmsOptIn)
        </div>
</div>*@

   
   
