@model MGI.Channel.DMS.Web.Models.ProductCredentialViewModel

@{
	Func<MGI.Channel.DMS.Web.Models.ProductCredentialViewModel, object> CardNumber =
		@<text>
			@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CardNumber<span class="requiredfield-label" id="cardNumber">*</span>
		</text>;
	Func<MGI.Channel.DMS.Web.Models.ProductCredentialViewModel, object> ProxyId =
		@<text>
			@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ProxyId<span class="requiredfield-label" id="cardNumber">*</span>
		</text>;
	Func<MGI.Channel.DMS.Web.Models.ProductCredentialViewModel, object> ExpirationDate =
		@<text>
			@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ExpirationDate<span class="requiredfield-label" id="cardNumber">*</span>
		</text>;
}

@if (!Model.HasGPRCard)
{
	<div class="row">
		<div>
			<label class="row_label_txt">@ProxyId(@Model)</label>
			@Html.TextBoxFor(model => model.ProxyId, new { @class = "input_box", @maxlength = "19", @title = @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.Tooltip_PrepaidProxyId })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.ProxyId)
		</div>		
		<div class="row">
			<a class="anc_link_btn margin_right_33" id="swipeCard" href="" onclick="return showSwipeMsg()">Swipe Card</a>	
			</div>
		</div>
	<div class="row">	
		<div>
			<label class="row_label_txt">@CardNumber(@Model)</label>
			@Html.TextBoxFor(model => model.MaskCardNumber, new { @class = "input_box", @maxlength = "19", @title = @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.Tooltip_PrepaidCardNumber })
			@Html.TextBoxFor(model => model.CardNumber, new { @class = "hide" })
			@Html.HiddenFor(model => model.CVV)
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.MaskCardNumber, @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.PANValidationMessage)
		</div>
	</div>
	<div class="row">
		<div>
			<label class="row_label_txt">@ExpirationDate(@Model)</label>
			@Html.TextBoxFor(model => model.ExpirationDate, new { @class = "input_box", id = "ExpirationDate", @placeholder = "MM/YYYY" })
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.ExpirationDate)
		</div>
	</div>
	<div class="row">
		<div>
			@Html.LabelFor(model => model.InitialLoad, new { @class = "row_label_txt" })
			@Html.TextBoxFor(model => model.InitialLoad, Model.InitialLoad.ToString("0.00"), new { @class = "input_box", maxlength = "7", data_val = "false" })
			<span id="visa_initial_load" style="width:220px;">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SynovusVisaInitialLoad</span>
		</div>
	</div>
	<div class="row">
		<div>
			@Html.LabelFor(model => model.PromoCode, new { @class = "row_label_txt" })
			@Html.TextBoxFor(model => model.PromoCode, new { @class = "input_box", maxlength = "50" })
			
		</div>
		<div class="error_align_left">
			@Html.ValidationMessageFor(model => model.PromoCode)
		</div>
	</div>
	@Html.HiddenFor(model => model.TransactionId);
	<input type="hidden" value="true" id="NewCustomer" />
}

<script src="@Url.Content("~/Scripts/Fund/Visa.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Fund/Gprs.js")" type="text/javascript"></script>
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/pie/v1/encryption.js" language="JavaScript" type="text/javascript" id="pie_script"></script>
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/pie/v1/mgi/getkey.js" language="JavaScript" type="text/javascript"></script>

<script type="text/javascript">
	var minimumLoadAmountErrorMessage = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MinimumLoadAmount';
	var maximumLoadAmountErrorMessage = '@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MaximumLoadAmountErrorMessage';
</script>
