@model TCF.Channel.Zeo.Web.Models.ProductCredentialViewModel
@{
    string styleClass = Model.HasGPRCard ? "input_box disable_txt" : "input_box";
}

<div>
	<ul class="page_head product_head">
		<li>@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.PrepaidPurchase</li>
		<li style="float:right; margin-top:-5px;">
			<a href="@Url.Action("AssociateCard", "VISAProductCredential")" id="associateCard">
				<img src="@Url.Content("~/Content/Images/Associate-card.png")" />
			</a>
		</li>
	</ul>
</div>

<div class="row">
	<div>
		@Html.LabelFor(model => model.Name, new { @class = "row_label_txt" })
		@Html.TextBoxFor(model => model.Name, new { @class = "disable_txt", @readonly = "readonly" })
		@Html.HiddenFor(model => model.HasGPRCard)
	</div>
	<div class="error_align_left"> @Html.ValidationMessageFor(model => model.Name) </div>
</div>

<script>
	var hasGprCard = @Model.HasGPRCard.ToString().ToLower();
</script>
<script src="@Url.Content("~/Scripts/Fund/par_prepaidCardCommon.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery.placeholder.js")" type="text/javascript"></script>

