@model TCF.Channel.Zeo.Web.Models.CashDrawerReport
@{
    ViewBag.Title = "Cash Drawer Report";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/ShoppingCart/PrintReceipt.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui/redmond/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/Common/popup.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />

<div>
    <ul class="page_head product_head">
        <li>Cash Drawer Report</li>
    </ul>
</div>
<div class="cash_draw_rep">
    <div class="main_div">
        
    </div>
    <br />
    <div class="row5 row_fix">
        <div class="label_wrap"> @Html.LabelFor(model => model.LocationName, new { @class = "float_left txt_left" }) </div>
        <div class="label_name"> @Model.LocationName</div>
    </div>
    <div class="row5 row_fix">
        <div class="label_wrap"> @Html.LabelFor(model => model.TellerName, new { @class = "float_left txt_left" }) </div>
        <div class="label_name"> @Model.TellerName</div>
    </div>
    <div class="row5 row_fix">
        <div class="label_wrap"> @Html.LabelFor(model => model.ReportDate, new { @class = "float_left txt_left" }) </div>
        <div class="label_name"> @Model.ReportDate</div>
    </div>
    <div class="row5 row_fix">
        <div class="label_wrap"> @Html.LabelFor(model => model.ReportTime, new { @class = "float_left txt_left" }) </div>
        <div class="label_name"> @Model.ReportTime</div>
    </div>

    <img src="@Url.Content("~/Content/images/Line2.jpg")" alt=" " class="img_width_fix" />
    <div class="row5 row_fix">
        <div class="label_wrap"> @Html.LabelFor(model => model.CashIn, new { @class = "float_left txt_left" })</div>
        <div class="label_name"> <strong>$</strong> @Model.CashIn </div>
        <div> &nbsp; </div>
    </div>

    <div class="row5 row_fix">
        <div class="label_wrap"> @Html.LabelFor(model => model.CashOut, new { @class = "float_left txt_left" })</div>
        <div class="label_name"> <strong>$</strong> @Model.CashOut </div>
        <div> &nbsp; </div>
    </div>

    <img src="@Url.Content("~/Content/images/Line2.jpg")" alt=" " class="img_width_fix" />
    <div class="row5 row_fix">
        <div class="label_wrap">
            @Html.LabelFor(model => model.SubTotalToDisplay, new { @class = "float_left txt_left" })</div>
            @{string color;
              if (Model.SubTotal >= 0)
                  {
                      color = "Black";
                  }
                  else
                  {
                      color = "Red";
                  }
                }
        <div class="label_name"> <strong>$</strong> @Model.SubTotalToDisplay </div>
        <div> &nbsp; </div>
    </div>
</div>
<br />
<div class="nextAndBackButton">
    <ul>
        <li class="SrchButtonWidth">
            <input id="CancelTransaction" type="button" name = "Source" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CancelButtonText" />
        </li>
        <li class="SrchButtonWidth">
            <input type="submit" value="Print" class="btn_txt" id="btnPrintReceipt" />
        </li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrintReceipt').click( function () {
            PrintCashDrawerReceipt();
        });
    });
    function PrintCashDrawerReceipt() {
        var printParams = '@Model.PrintData';
        PrintReceipt(NPSbaseURL, printParams);
    }
</script>