@model TCF.Channel.Zeo.Web.Models.CheckAmountStatus
@{
    ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CheckCashingConfirmation;
}
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Check/Check.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>

@using(Html.BeginForm("CheckPost","CheckCashingConfirmation"))
{
    <div>
        <ul class="page_head product_head">
            <li>Check Confirmation</li>
        </ul>
    </div> 
    
    <div>
        <img id="CheckFrontImage" src="" class="check_img" />
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                ShowCheckFrontImage("@Model.CheckFrontImage");
            });
        </script>
    </div>
    <div class="check_req">
        @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ConfirmAmount
    </div>
    <div class="main_div">
        <div class="check_req">
            <strong>($)</strong>
            @Html.TextBoxFor(model => model.CheckAmount, new { @class = "TxtDisable", @readonly = true, Value = String.Format("{0:0.00}", Model.CheckAmount) })
            @Html.Partial("_CheckDetails", Model)
        </div>
    </div>
    <div>
        <span><input type="submit" name="Source" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ConfirmButtonText"/> 
            <span><input type ="submit" name="Source" value ="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CorrectButtonText"/>
                <input type="button" value="@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CancelButtonText" id="CancelTransaction" />
            </span>
    </div>
}