@model TCF.Channel.Zeo.Web.Models.WesternUnionDetails
@{
    ViewBag.Title = "EnrollWesternUnionGoldCard";
    Layout = "~/Views/Shared/_Common.cshtml";
}
<script src="@Url.Content("~/Scripts/Common/lib/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery-grid/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery-grid/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
    	$('#WUGoldCardNumber').focus();
        //WU Gold Card Look Up Grid
        var jqgridfunction = function () {
            var rowsToColor = [];
            var jqDataUrl = WUCustomerGoldCardSearch_URL;
            var flag = 0;
            jQuery(document).ready(function () {
                // Set up the jquery grid
                jQuery("#jqTable").jqGrid({
                    // Ajax related configurations
                    url: jqDataUrl,
                    datatype: "json",
                    mtype: "POST",

                    // Specify the column names
                    colNames: ["Customer Name", "Address", "Zip Code", "Phone", "My WU"],

                    // Configure the columns
                    colModel: [
            { name: "Customer Name", index: "FullName", width: 300, align: "center" },
            { name: "Address", index: "Address", width: 170, align: "center" },
            { name: "Zip Code", index: "ZipCode", width: 150, align: "center" },
            { name: "Phone", index: "PhoneNumber", width: 230, align: "center" },
            {
            	name: "My WU", index: "WUGoldCardNumber", width: 130, align: "center",
                cellattr: function (rowId, tv, rawObject, cm, rdata) {
                    return ' onclick="ShowWUGoldCardNumber(' + '\'' + rawObject[4].toString() + '\'' + ')" style="text-decoration:underline;color:#0000ff;cursor:pointer" ';

                } //cellattr
            }//name

					],
                    // Grid total width and height
                    cmTemplate: { sortable: false },

                    width: 600,
                    height: 'auto',

                    // Paging
                    toppager: false,
                    pager: jQuery("#jqTablePager"),
                    rowNum: 5,
                    rowList: [5, 10, 20],
                    viewrecords: true, // Specify if "total number of records" is displayed

                    // Default sorting
                    sortname: "FullName",
                    sortorder: "asc",

                    // Grid caption
                    caption: "",
                    loadComplete: function (data) {
                    	if (data.success == false) {
                    		$("#griddiv").hide();
                    		showExceptionPopupMsg(data.data);
                    	}
                        $("tr.jqgrow:even").css("background", "rgb(235, 240, 238)");

                    }
                }).navGrid("#jqTablePager",
            { refresh: true, add: false, edit: false, del: false, search: false, refresh: false },
                {}, // settings for edit
                {}, // settings for add
                {}, // settings for delete
                {sopt: ["cn"]} // Search options. Some options can be set on column level
         );
            });
        }
        var checkCustomerSearchData = function () {
            $.ajax({
                url: WUCustomerGoldCardSearch_URL,
                data: {}, //parameters go here in object literal form
                type: 'POST',
                datatype: 'json',
                success: function (data) {
                    if (data.records == 0) {
                    	$("#griddiv").hide();
                    }
                    else if (data.data != null) {
                    	$("#griddiv").hide();
                        showExceptionPopupMsg(data.data);
                    }
                    else {
                    	$("#griddiv").show();
                    }
                },
                error: function (err) {
                    $("#griddiv").hide();
                    showExceptionPopupMsg(err.data);
                }
            });
        }

        if ('@Session["lookupGoldCard"]' != null) {
            if ('@Session["lookupGoldCard"]'.toLowerCase() == "true") {
                jqgridfunction();
                checkCustomerSearchData();
            }
            else
                $("#griddiv").hide();
        }
        else
            $("#griddiv").hide();

	    $('#WUGoldCardNumber').keypress(function (e) {
	        var enterKey = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            var regexAlphaNumeric = /^[A-Za-z0-9]*$/;
	        if (regexAlphaNumeric.test(enterKey)) {
	            return true;
	        }
	        e.preventDefault();
	        return false;
	    });

    });

    function ShowWUGoldCardNumber(wuGolCardNumber) {
        $('#WUGoldCardNumber').val(wuGolCardNumber);
    }

    function getWUGoldCardNo(e) {
        var cardNumber = $('#WUGoldCardNumber').val();
        if (cardNumber == undefined || cardNumber == '') {
            $('#errorLabel').show();
            return false;
        }
        else {
            $('#errorLabel').hide();
            e.href = e.href + "?WUGoldCardNumber=" + $('#WUGoldCardNumber').val() + "&editgoldcardfrom=" + $('#EditGoldCardFrom').val();
        }
    }
</script>

@using (Html.BeginForm("LookupGoldCard", "EnrollWesternUnion", FormMethod.Post))
{
<div class="bold">
  <div >
   <ul class="page_head product_head">
    <li>Skip Enrollment of the My WU</li>
   </ul>
  </div>
  <div>

   <div class="wu_goldcard_wrap">
    <p>
     If the Customer does not want to enroll with a Western Union My WU number.
     Please click on the Skip Enroll button
    </p>
   </div>
   <div class="txt_right float_right div_width">
    <ul>
     <li class="row_width30 btn_width">
      @Html.ActionLink("Skip Enroll", "SkipGoldCard", "EnrollWesternUnion", new { editgoldcardfrom = Model.EditGoldCardFrom }, new { @class = "anc_link_btn red_btn" ,tabindex="7" })
     </li>
    </ul>
   </div>
  </div>
 </div>
 <div class="clear_both">
	<div>
		<ul class="page_head product_head">
			<li>Enroll New Western Union My WU</li>
		</ul>
	</div>

	<div>
		<div class="wu_goldcard_wrap">
			<p class="row bold">
				The Customer profile does not have a Western Union My WU number. Please click
				the Enroll button to assign a new My WU or if the customer has a My WU
                 Number you can find it and enter it below.
            </p>
		</div>
		<div class="western_union_btn_wrap txt_right div_width">
			<ul>
				<li class="row_width30 western_union_btn btn_width">
					@Html.ActionLink("Enroll", "EnrollGoldCard", "EnrollWesternUnion", new { editgoldcardfrom = Model.EditGoldCardFrom }, new { @class = "anc_link_btn green_input",tabindex="6" })
					@*<input type="submit" value="Enroll" />*@
				</li>
			</ul>
		</div>
	</div>
    </div>
    
	<div class="clear_both">
		<div>
			<ul class="page_head product_head">
				<li>Find Customer's Western Union My WU</li>
			</ul>
		</div>
		<div class="row">
			<div>
				@Html.LabelFor(model => model.WUGoldCardNumber, new { @class = "row_label_txt" })
				@Html.TextBoxFor(model => model.WUGoldCardNumber, new { @class = "input_box w_union_lookup_txt", tabindex = 3, Maxlength = 11, @title = @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.Tooltip_GoldCardNumber })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.WUGoldCardNumber)
			</div>
			<div class="error_align_left hide" id="errorLabel">
				<label class="field-validation-error"> Please provide a valid card number</label>
			</div>
		</div>
		@Html.HiddenFor(model => model.EditGoldCardFrom)
		<div id="divConfirmationMessage" class="hide">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.WUGoldCardConfirmationMesage</div>
		<div class="enroll_wu_wrap">
			<ul>
				<li class="row_width30">
					<input type="submit" value="Lookup My WU" id="lookupGoldCard" tabindex="4" />
				</li>
				<li class="row_width30">
					<a href="@Url.Action("UpdateWUCustomerAccount", "EnrollWesternUnion")" onclick="return getWUGoldCardNo(this);" class="anc_link_btn green_input" tabindex="5">Use My WU</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="trans_grid_half_tab_wrap" id="griddiv">
		<div class="trans_grid_tab" id="divJqTable">
			<table id="jqTable" class="scroll"></table>
			<div id="jqTablePager" ></div> 
		</div>
	</div>
	<div>&nbsp;</div>
}
