@model TCF.Channel.Zeo.Web.Models.PersonalInformation
@{
    ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.PersonalInformation;
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<script>
	var canEnableProfileStatus = '@Model.channelPartner.CanEnableProfileStatus';
	$(document).ready(function () {
		var IsProspectCreated = '@ViewBag.IsProspectCreated';
	if (IsProspectCreated == 'False')
		{
			$(@Model.ChannelPartnerName).html("");
		}
		
	});
</script>
<script src="@Url.Content("~/Scripts/Customer/PersonalInfo.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/BaseCustomerValidator.js.axd")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/" + @Model.ChannelPartnerName + "CustomerValidator.js.axd")" type="text/javascript"></script>
<div align="center">
    <img src="@Url.Content("~/Content/images/Profile_" + @Model.ChannelPartnerName + ".png")" usemap="#@Model.ChannelPartnerName"/>
</div>
@using (Html.BeginForm("PersonalInformation", "CustomerRegistration", FormMethod.Post, new { id = "frmPersonalInfo" }))
{
    @Html.ValidationSummary(true)
    @Html.Partial("_PersonalInformation", Model)
    @Html.Partial("_PersonalInfoNavigation")
}