@model TCF.Channel.Zeo.Web.Models.PinDetails

@{
    ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.PinDetails;
    Layout = "~/Views/Shared/_Menu.cshtml";
   
}

<script src="@Url.Content("~/Scripts/Customer/pinDetails.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/BaseCustomerValidator.js.axd")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Customer/" + @Model.ChannelPartnerName + "CustomerValidator.js.axd")" type="text/javascript"></script>

<div align="center"><img src="~/Content/images/PinDetails.png"  usemap="#@Model.ChannelPartnerName"/></div>
@using (Html.BeginForm("PinDetails", "CustomerRegistration", FormMethod.Post, new { id = "frmPinDetails" }))
{
    @Html.Partial("_PinDetails", Model)
    @Html.Partial("_PinNavigation")
} 
