@model  TCF.Channel.Zeo.Web.Models.ProcessorCredentialViewModel
@{
    ViewBag.Title = "Enter Processor Credentials";

}

<script type="text/javascript">
    var WarningURL = '@Url.Action("WarningPopUp", "Locations")';
    var CertergySiteIdRequired = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CertegySiteIdRequired';
    var CertegySiteIdStringLength = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CertegySiteIdStringLength';
    var MGIAgentIdRequired = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MGIAgentIdRequired';
    var MGIAgentIdStringLength = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MGIAgentIdStringLength';
    var MGIPosIdRequired = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MGIPosIdRequired ';
    var MGIPosIdMinValue = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MGIPosIdMinValue ';
    var VisaDPSRequired = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.VisaDpsRequired';
    var VisaDPSLength = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.VisaDpsIdStringLength';
    var NodeIdLength = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.NodeIdStringLength';
    var NodeIdRequired = '@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.NodeIdRequires';


</script>

<script src="@Url.Content("~/Scripts/Fund/processorCredential.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<div id="tabs">
    <ul>
        @foreach (var processor in Model.Processors)
        {
            var id = "#" + processor.ProcessorName;

            <li><a href=@id>@processor.ProcessorDisplayName</a></li>}
    </ul>


    @foreach (var processor in Model.Processors)
    {
        var formName = "form" + processor.ProcessorName + "Credential";

        List<TCF.Channel.Zeo.Web.Models.ProcessorCrendential> credentials = Model.Credentials;

        TCF.Channel.Zeo.Web.Models.ProcessorCrendential credential = credentials.Find(c => c.ProviderID == processor.ProcessorId);

        if (credential == null)
        {
            credential = new TCF.Channel.Zeo.Web.Models.ProcessorCrendential();
        }



        using (Html.BeginForm("SaveProcessorCredential", "Locations", FormMethod.Post, new { Id = formName }))
        {
            credential.ProviderID = processor.ProcessorId;
            credential.LocationID = Model.LocationID;

            <div id="@processor.ProcessorName">
                @Html.Partial("_partial" + @processor.ProcessorName + "Credential", credential)
            </div> }
    }

</div>
