@model TCF.Channel.Zeo.Web.Models.Receivers
@{
	ViewBag.Title = "Receivers";
    Layout = "~/Views/Shared/_Common.cshtml";
}
@{
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> FirstName = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.FirstName<span class="mandatory">*</span>
	</text>;
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> LastName = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.LastNamePaternalName<span class="mandatory">*</span>
	</text>;
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> SecondLastName = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiverSecondLastName<span class="mandatory"></span>
	</text>;
	@*Func<TCF.Channel.Zeo.Web.Models.Receivers, object> Status = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiverStatus<span class="mandatory">*</span>
	</text>;*@
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> Gender = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.Gender<span class="mandatory">*</span>
	</text>;

	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> Country = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.Country<span class="mandatory">*</span>
	</text>;
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> GovtIdIssueState = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.GovtIdIssueState
	</text>;
@* Func<TCF.Channel.Zeo.Web.Models.Receivers, object> City = 
    @<text>
    @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.City<span id="cityRequiredStar" class="mandatory">*</span>
    </text>;*@
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> City = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.City
	</text>;
	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> StateProvince = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiverStateProvince
	</text>;

	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> ZipCode = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiverZipCode
	</text>;

	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> Phone = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiverPhone
	</text>;


	Func<TCF.Channel.Zeo.Web.Models.Receivers, object> Address = 
	@<text>
	@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiverAddress
	</text>;
                
}
<script src="@Url.Content("~/Scripts/SendMoney/Receivers.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script type="text/javascript">

	$(document).ready(function () {
		var showPopup = '@Model.showAddEditMessage';
		if (showPopup == 'Receiver data saved successfully') {
			saveReceiverConfirmation(showPopup);
		}
	});

	@*$(function () {
		var status = '@Model.Status';
		var value = '@Model.ReceiverId';
		if (value == '00000000-0000-0000-0000-000000000000') {
			$("#divEdit").hide();
			$("#divAdd").show();
		}
		else {
			$("#divAdd").hide();
			$("#divEdit").show();
		}
		if (status != 'Active') {
			$("#divEdit").hide();
			$("#divAdd").show();
		}
	});*@

</script>
@using (Html.BeginForm("ReceiversContinue", "SendMoney"))
{
	@Html.ValidationSummary(true)    
 
	<div id="divAddReceiverMenuHeader" class="hide">
		<ul class="page_head product_head">
			<li>Create New Receiver - Personal Information Page 1 of 2 </li>
		</ul>
	</div>
	<div id="divEditReceiverMenuHeader" class="hide">
		<ul class="page_head product_head">
			<li>Edit Receiver - Personal Information Page 1 of 2 </li>
		</ul>
	</div>  
	<div>
		<div class="row">
			<div>
				<label class="row_label_txt">@FirstName(@Model)</label>
				@Html.TextBoxFor(model => model.FirstName, new { @class = "input_box", maxLength = "15" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.FirstName)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@LastName(@Model)</label>
				@Html.TextBoxFor(model => model.LastName, new { @class = "input_box", maxLength = "25" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.LastName)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@SecondLastName(@Model)</label>
				@Html.TextBoxFor(model => model.SecondLastName, new { @class = "input_box", maxLength = "50" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.SecondLastName)
			</div>
		</div>
		@*<div class="row">
			<div>
				<label class="row_label_txt dropdown_width">@Status(@Model)</label>
				@Html.DropDownListFor(model => model.Status, Model.LStatus, new { @class = "dropdown_box" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.Status)
			</div>
		</div>*@
		<div class="row">
			<div>
				<label class="row_label_txt dropdown_width">@Gender(@Model)</label>
				@Html.DropDownListFor(model => model.Gender, Model.LGenders, new { @class = "dropdown_box"})
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.Gender)
			</div>
		</div>
		<div>
			<p class="com_info"> Receiver's Home Address:</p>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt dropdown_width">@Country(@Model)</label>
				@Html.DropDownListFor(model => model.Country, Model.LCountry, new { @class = "dropdown_box"})
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.Country)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@Address(@Model)</label>
				@Html.TextBoxFor(model => model.Address, new { @class = "input_box", maxLength = "84" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.Address)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@City(@Model)</label>
				@Html.TextBoxFor(model => model.City, new { @class = "input_box", maxLength = "30" })
				@* @Html.DropDownListFor(model => model.City, Model.LCities, new { @class = "dropdown_box"})*@
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.City)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@StateProvince(@Model)</label>
				@Html.TextBoxFor(model => model.StateProvince, new { @class = "input_box", maxLength = "40" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.StateProvince)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@ZipCode(@Model)</label>
				@Html.TextBoxFor(model => model.ZipCode, new { @class = "input_box", maxLength = "10" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.ZipCode)
			</div>
		</div>
		<div class="row">
			<div>
				<label class="row_label_txt">@Phone(@Model)</label>
				@Html.TextBoxFor(model => model.Phone, new { @class = "input_box", maxLength = "15" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.Phone)
			</div>
		</div>
		<div class="row hide">
			<div>
				@Html.LabelFor(model => model.Relationship, new { @class = "row_label_txt" })
				@Html.DropDownListFor(model => model.Relationship, Model.LRelationships, new { @class = "dropdown_box" })
			</div>
		</div>
		<div class="row hide">
			<div>
				<label class="row_label_txt">@GovtIdIssueState(@Model)</label>
				@Html.DropDownListFor(model => model.GovtIdIssueState, Model.LStates, new { @class = "dropdown_box" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.GovtIdIssueState)
			</div>
		</div>
		<div class="row hide">
			<div>
				@Html.LabelFor(model => model.PhoneType, new { @class = "row_label_txt" })
				@Html.DropDownListFor(model => model.PhoneType, Model.LPhoneTypes, new { @class = "dropdown_box" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.PhoneType)
			</div>
		</div>
		<div class="row hide">
			<div>
				@Html.LabelFor(model => model.MobileProvider, new { @class = "row_label_txt" })
				@Html.DropDownListFor(model => model.MobileProvider, Model.LMobileProviders, new { @class = "dropdown_box" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.MobileProvider)
			</div>
		</div>
		<div class="row hide">
			<div>
				@Html.LabelFor(model => model.AmountType, new { @class = "row_label_txt" })
				@Html.DropDownListFor(model => model.AmountType, Model.LAmountTypes, new { @class = "dropdown_box" })
			</div>
			<div class="error_align_left">
				@Html.ValidationMessageFor(model => model.AmountType)
			</div>
		</div>
	</div>

	@Html.HiddenFor(model => model.ReceiverId)
    
	@Html.HiddenFor(model => model.Id)

	<div id="divAdd" class="float_left row_shift30">
		<ul class="row_shift20">
			@*<li><a href="@Url.Action("ConfirmIdentification", "CustomerSearch")" class="anc_link_btn">Cancel</a></li>*@
            <li class="row_width30"><input type="button" id="CancelTransaction" value="Cancel" /></li>
			<li><input type="submit" id="editReceiver" value="Next" /></li>
		</ul>
	</div>
    
    
   
	<div id="divEdit" class="float_left row_shift30 hide">
		<ul>
			@*<li><a href="@Url.Action("ConfirmIdentification", "CustomerSearch")" class="anc_link_btn">Cancel</a></li>*@
            <li class="row_width30"><input type="button" id="CancelTransaction" value="Cancel" /></li>
			<li>
				<input type="submit" id="editReceiver11" value="Next" /></li>
		</ul>
	</div>
   
	@Html.HiddenFor(m => m.ReceiverId)
}
