@model TCF.Channel.Zeo.Web.Models.CheckImage
@{
	ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MoneyOrderImageLabel;
	Layout = "~/Views/Shared/_menu.cshtml";
}
<script src="@Url.Content("~/Scripts/PeripheralServices/EpsonTest.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Check/Check.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
@*jquery-ui reference is needed for css allignment*@
<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
@Html.Partial("_partialSpinner")
<div class="check_post_img">
	<ul class="page_head product_head">
		<li>MoneyOrder Image</li>
	</ul>
</div>

@Html.ValidationSummary(true)

<div class="txt_center">
	<div>
		<div class="fltleft labelText cardSwipeText">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MoneyOrderFrontImageText</div></div>
		<img id="CheckFrontImage" class="checkImg" src="" alt="checkFrontImage" />
		<div class="fltleft labelText cardSwipeText">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MoneyOrderBackImageText</div>
		<img id="CheckBackImage" class="checkImg" src="" alt="checkBackImage" />
	</div>
	<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        ShowCheckFrontImage("@Model.CheckFrontImage");
        ShowCheckBackImage("@Model.CheckBackImage");
    });
	</script>
</div>

