@model MGI.Channel.DMS.Web.Models.VisaTransactionHistory

<ul class="page_head product_head trans_head">
	<li class="fav_payee_banner_txt">Prepaid Card</li>

	@if (Model.DisableMaintenance)
	{
		<li class="import_payee_button" style="margin-left:185px; margin-top:4px">
			<a href="javascript:void(0);">
				<img src="@Url.Content("~/Content/Images/card-maintenance.png")" class="import_payee_img" />
			</a>
		</li>
	}
	else
	{
		<li class="import_payee_button" style="margin-left:185px; margin-top:4px">
			<a href="javascript:void(0);" onclick="ShowPopUp(CardMaintenancePopUp_Url, 'Card Maintenance', 520, 250);">
				<img src="@Url.Content("~/Content/Images/card-maintenance.png")" class="import_payee_img" />
			</a>
		</li>
	}

	@if (Model.IsAccountClosed)
	{
		<li class="txt_right" style="margin-left:95px; margin-top:4px">
			<a href="@Url.Action("OpenAccount", "VISAProductCredential")">
				<img src="@Url.Content("~/Content/Images/open-account.png")" class="edit_gold_card_img" />
			</a>
		</li>

	}
	else
	{
		<li class="txt_right" style="margin-left:95px; margin-top:4px">
			<a href="javascript:void(0);" onclick="ShowPopUp(ClosePrepaidAccount_Url, 'Close Prepaid Account', 520, 250);">
				<img src="@Url.Content("~/Content/Images/close-account.png")" alt="" class="edit_gold_card_img" />
			</a>
		</li>
	}
</ul>
