@model TCF.Channel.Zeo.Web.Models.WesternUnionBillPayViewModel
<script src="@Url.Content("~/Scripts/ShoppingCart/ShoppingItemDisplay.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<div>
    <div class="row ">
        <div>
            <label class = "row_label_txt">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.BillPayee</label>
            @Html.TextBoxFor(model => model.SelectBillPayee, new { @class = "disable_txt", readOnly = "true", @disabled = "disabled" })
        </div>
    </div>
    <div class="row ">
        <div>
            <label class = "row_label_txt">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.AccountNumber</label>
            @Html.TextBoxFor(model => model.AccountNumber, new { @class = "disable_txt", readOnly = "true", @disabled = "disabled" })
        </div>
    </div>
    <div class="row ">
        <div>
            @Html.LabelFor(model => model.BillPaymentFee, new { @class = "row_label_txt" })
            @Html.TextBoxFor(model => model.BillPaymentFee, String.Format("{0:0.00}", @Model.BillPaymentFee), new { @class = "disable_txt", readOnly = "true", @disabled = "disabled" })
        </div>
    </div>
    @if (Model.StatusDescription != null)
    {
        <div class="row ">
            <div>
                @Html.LabelFor(model => model.StatusDescription, new { @class = "row_label_txt" })
                @Html.row_input_bg(model => model.StatusDescription, new { @class = "disable_txt bill_payment_det_desc", @disabled = "disabled" })           
            </div>
        </div>  
    }
</div>
<br />
<div class="bill_payment_det_wrap">
    <input type="button" id="submitLink" value="Close"  onclick="closethis();" />
</div>
