@model TCF.Channel.Zeo.Web.Models.PinDetails
@Html.ValidationSummary(true)
<div class="row">
   <div>@Html.LabelFor(model => model.CardNumber, new { @class="row_label_txt"})
        @*<label class="row_label_txt">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.MemberShipCardNumber</label>*@
        @Html.TextBoxFor(model => model.CardNumber, new { @class = "disable_txt", @disabled = "disabled", autocomplete = "off" })
    </div> 
   
    <div class="card_wrap">
        @Html.ValidationMessageFor(model => model.CardNumber)
    </div>
</div>
