@model TCF.Channel.Zeo.Web.Models.ParkTransaction
<div>
	<hgroup>
		<h1>@Html.Raw(ViewBag.Message)</h1>
	</hgroup>
	<div class="push_top5">
		<img src="@Url.Content(string.Format("~/Content/images/{0}", @Model.IconName))" width="20" height="20" />
		<span class="park_trans_amt">@Model.Detail&nbsp;&nbsp;&nbsp;&nbsp;$@Model.Amount.ToString("0.00")</span>
	</div>
	<div>
		<span class="park_trans_amt txt_black">@Html.Raw(@Model.CheckMOPromotionAlertMessage)</span>
	</div>

	@if (Model.TransactionStatus == TCF.Channel.Zeo.Web.Common.TransactionStatus.Pending.ToString("D"))
	{
		if (Model.IsMobileEnabled)
		{
			<div>
				Mobile Number : @Html.TextBoxFor(c => c.MobileNumber, new { @class = "disable_txt", readOnly = "true", style = "width:80px;height:20px;" })
			</div>
			<div class="push_top5">
				<span class="push_top5">
					<img src="@Url.Content("~/Content/images/FailedIcon.png")" width="15" height="15" />
				</span>
				<span>@Html.Raw(Model.InfoMessage)</span>
			</div>
		}
		else
		{
			<div class="push_top5">
				<span>
					<img src="@Url.Content("~/Content/images/FailedIcon.png")" width="15" height="15" />
				</span>
				<span>@Html.Raw(Model.InfoMessage)</span>
			</div>
		}
	}

	@if (Model.TransactionType.ToLower() == TCF.Channel.Zeo.Web.Common.ProductType.ReceiveMoney.ToString().ToLower() && !Convert.ToBoolean(ViewBag.CanPark))
	{
		<div class="push_top5" align="center">
			<ul>
				<li><input type="button" class="grey_btn" value="Close" onclick="javascript:$('#dlgCancel').dialog('destroy').remove();" /></li>
				<li>@Html.ActionLink("Remove", "DeleteShoppingCartItem", "ShoppingCart", new { id = @ViewBag.CartItemId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_red_btn" })</li>
			</ul>
		</div>
	}

	else
	{
		<div class="push_top5">
			<ul>
				<li><input type="button" class="grey_btn" value="Close" onclick="javascript:$('#dlgCancel').dialog('destroy').remove();" /></li>
				<li>@Html.ActionLink("Park", "ParkShoppingCartItem", "ShoppingCart", new { id = @ViewBag.CartItemId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_btn" })</li>
				@if (Model.TransactionStatus != TCF.Channel.Zeo.Web.Common.TransactionStatus.Pending.ToString("D"))
				{
					<li>@Html.ActionLink("Remove", "DeleteShoppingCartItem", "ShoppingCart", new { id = @ViewBag.CartItemId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_red_btn" })</li>
				}
				else
				{
					<li><input type="button" id="btnRemoveCartItem" class="anc_link_red_btn" value="Remove" /></li>
				}
			</ul>
		</div>
	}
</div>
<script type="text/javascript">
	var ItemId = '@ViewBag.CartItemId';
	var ScreenName = '@ViewBag.screenName';
	var Product = '@ViewBag.product';
	$(document).ready(function () {
		showCartAbandonmentConfirm = true;
		$('#btnRemoveCartItem').click(function () {
			showDeleteDialogue(ItemId, ScreenName, Product, "pending");;
		});
	})
</script>
