@model TCF.Channel.Zeo.Web.Models.BaseModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    
    <script src="@Url.Content("~/Scripts/Common/lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Common/BrowserCustomisation.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/lib/helper.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    
    <link href="@Url.Content("~/Content/css/Common/base-state-rule.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Common/layout-rule.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Common/module-rule.css")" rel="stylesheet" type="text/css" />

    

    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
</head>
<body>
<div id="layout_container_wrap">
    <div id="layout_primary_head">
        <div class="logo_bg">
            @{       
                string logoUrl = Url.Content(string.Format("~/Content/images/{0}.png", @Model.ChannelPartnerName));
                <img class="logo_agent" alt=" " src="@logoUrl"/>
                if (Model.channelPartner.IsMGIAlloyLogoEnable)
                { 
			        <img class="logo_nexxo" alt=" " src="~/Content/images/MGiAlloylogo.png" />
                }
}
        </div>
        <div class="page_head" >
            <ul class="cust_search">
                <li>Authenticate</li>
            </ul>
        </div>
    </div>
        <div id="key_wrap">
        <div id="keyContainer" class="key_container ubkey">
            <div id="key_login_head"> Key Authentication </div>
            <div id="keyArea"> @RenderBody() </div>
        </div>
    </div>
</div>
</body>
</html>
