@model TCF.Channel.Zeo.Web.Models.Receivers

 <div class="rec_row ">
        @Html.LabelFor(model => model.FirstName, new { @class="rec_width"})<span class="mandatory">*</span>
        @Html.TextBoxFor(model => model.FirstName, new { @class = "rec_left" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="rec_row ">
        @Html.LabelFor(model => model.LastName, new { @class = "rec_width" })<span class="mandatory">*</span>
        @Html.TextBoxFor(model => model.LastName, new { @class = "rec_left" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.Status, new { @class = "rec_width" })<span class="mandatory">*</span>
        <span class="rec_list">@Html.DropDownListFor(model => model.Status, Model.LStatus) </span>
        @Html.ValidationMessageFor(model => model.Status)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.Gender, new { @class = "rec_width" })<span class="mandatory">*</span>
        <span class="rec_list">@Html.DropDownListFor(model => model.Gender, Model.LGenders) </span>
        @Html.ValidationMessageFor(model => model.Gender)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.Relationship, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.Relationship, Model.LRelationships) </span>
    </div>
    <div class="rec_row ">
        @Html.LabelFor(model => model.Address, new { @class = "rec_width" })
        @Html.row_input_bg(model => model.Address, new { @class = "rec_left" })
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.Country, new { @class = "rec_width" })<span class="mandatory">*</span>
        <span class="rec_list">@Html.DropDownListFor(model => model.Country, Model.LCountry) </span>
        @Html.ValidationMessageFor(model => model.Country)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.GovtIdIssueState, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.GovtIdIssueState, Model.LStates) </span>
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.City, new { @class = "rec_width" })<span class="mandatory">*</span>
        <span class="rec_list">@Html.DropDownListFor(model => model.City, Model.LCities) </span>
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div class="rec_row ">
        @Html.LabelFor(model => model.DateOfBirth, new { @class = "rec_width" })
        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "TxtName", @placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>
    <div class="rec_row ">
        @Html.LabelFor(model => model.PrimaryPhoneNumber, new { @class = "rec_width" })
        @Html.TextBoxFor(model => model.PrimaryPhoneNumber, new { @class = "rec_left" })
        @Html.ValidationMessageFor(model => model.PrimaryPhoneNumber)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.PhoneType, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.PhoneType, Model.LPhoneTypes) </span>
        @Html.ValidationMessageFor(model => model.PhoneType)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.MobileProvider, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.MobileProvider, Model.LMobileProviders) </span>
        @Html.ValidationMessageFor(model => model.MobileProvider)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.PaymentMethod, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.PaymentMethod, Model.LPayments) </span>
        @Html.ValidationMessageFor(model => model.PaymentMethod)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.AmountType, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.AmountType, Model.LAmountTypes) </span>
        @Html.ValidationMessageFor(model => model.AmountType)
    </div>
    <div class="rec_row ">
        @Html.LabelFor(model => model.AccountNumber, new { @class = "rec_width" })
        @Html.TextBoxFor(model => model.AccountNumber, new { @class = "rec_left" })
        @Html.ValidationMessageFor(model => model.AccountNumber)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.DeliveryMethod, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.DeliveryMethod, Model.LDeliveryMethods) </span>
        @Html.ValidationMessageFor(model => model.DeliveryMethod)
    </div>
    <div class="rec_row">
        @Html.LabelFor(model => model.DeliveryOptions, new { @class = "rec_width" })
        <span class="rec_list">@Html.DropDownListFor(model => model.DeliveryOptions, Model.LDeliveryOptions) </span>
        @Html.ValidationMessageFor(model => model.DeliveryOptions)
    </div>
    
    @Html.HiddenFor(model => model.ReceiverId)