@model TCF.Channel.Zeo.Web.Models.Receivers

@{
    ViewBag.Title = "Create Receiver";   
}

<script src="@Url.Content("~/Scripts/Common/lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/lib/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/NexxoCustomValidations.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>


<script language="javascript" type="text/javascript">

    function showCancelPopUp() {
        var $confirmation = $("<div id='dlgCancel' ></div>");
        $confirmation.empty();
        $confirmation.dialog({
            autoOpen: false,
            title: "Zeo",
            width: 400,
            draggable: false,
            modal: true,
            minHeight: 150,
            resizable: false,
			closeOnEscape: false,
//            zIndex: 2000,                
            open: function (event, ui) {
                //            /SendMoney/SelectReceiver?ReceiverID=bfe4c659-3b08-4089-9f8f-3987b273b7f4    
                $confirmation.load(cancelPopURL);
            }
        });
        $confirmation.dialog("open");
    }
</script>

@using (Html.BeginForm("Receivers", "SendMoney", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateReceiverForm" }))
{
    @Html.ValidationSummary(true)    
    <br />
     
    @Html.Partial("_ReceiverData", Model)
    
    <div class="float_right">
        <ul>
            <li><input type="button" id="CancelTransaction" value="Cancel" onclick="showCancelPopUp();"  /></li>
            <li><input type="submit" id="createReceiver" value="Save" /></li>
        </ul>
    </div>
    <div class="float_right">
        <ul>
            <li><input type="button" id="CancelTransaction" value="Cancel" onclick="showCancelPopUp();"  /></li>
            <li><input type="submit" id="createReceiver" value="Save" /></li>
        </ul>
    </div>
}