@model TCF.Channel.Zeo.Web.ServiceClient.ZeoService.SendMoneyRefundRequest
@{
    ViewBag.Title = "_SendMoneyRefundSuccess";
}
@*<script src="@Url.Content("~/Scripts/MoneyOrder/MoneyOrder.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        hideSpinner();

    });
</script>

<div id="divPrintMoneyOrder">
    <div class="trxPopUpConfirmationRows">
        <label class="SMLabelTextCSS">
            @Html.Label(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyRefundSuccessFirstLine)</label>
    </div>
    <div class="trxPopUpConfirmationRows">
        <label class="SMLabelTextCSS">
            @Html.Label(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyRefundSuccessSecLine)</label>
    </div>
    <div class="trxPopUpConfirmationRows">
        <label class="SMLabelTextCSS">
            @Html.Label(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ConfirmationMTCN)</label>
        <label class="SMLabelTextCSS">
            @Html.DisplayFor(model => model.ConfirmationNumber)</label>
    </div>
    <div>
        <div class="SendMoneyRefundButtonAlign">
            @Html.ActionLink(" OK ", "SendMoneyRefundOK", "TransactionHistory", new { Model.ConfirmationNumber }, new { @class = "anc_link_btn green_btn" })
        </div>
    </div>
</div>
@Html.Partial("_partialSpinner")