<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/encryption.js" language="JavaScript" type="text/javascript" id="pie_script"></script>
<script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["VoltagePieBaseUrl"]/tcf/getkey.js" language="JavaScript" type="text/javascript"></script>

@*The below Javascript lines below should be added into seprate Jquery file*@
<script type="text/javascript">

    $(document).ready(function () {
        SetFocus();
    });
    var myVar = setInterval(function () {
        ValidateSwipeCard($("#input_1").val(), (Boolean($("#NewCustomer").val())));
    }, 6000);

    function ValidateSwipeCard(carVal, newCustomer) {
        if (carVal != '') {
            ParseCard(carVal, newCustomer);
        }
        else {
            var obj = $("dyntext");
            obj.innerHTML = "Card not detected!<br> Please swipe your card.";
        }
    }

    function ParseCard(ccField, isNewCustomer) {
        if (ccField == undefined || ccField.length <= 0) {
            return true;
        }

        var cardNumber = getCardNumber(ccField);
        maskSwipeCardNumber(cardNumber);
        var cvv = '000';

        var result = ProtectPANandCVV(cardNumber, cvv);

        if (result != null) {
            protected_pan = result[0];
            protected_cvv = result[1];
        }
        else
            return;
        // after ProtectPANandCVV call, removing setInterval.
        clearInterval(myVar);

        if (isNewCustomer != true) {
            var swipeSearch = '@Url.Action("SearchCustomerFromSwipe","CustomerSearch")';
            var validateCustomer = '@Url.Action("ValidateCustomerStatusAndId", "CustomerSearch")';

            swipeSearch += '?CardNumber=' + protected_pan + "&CVV=" + protected_cvv;
            $.ajax({
                type: "POST",
                url: swipeSearch,
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                data: {},
                success: function (data) {
                    if (data.success) {
                        validateCustomer += '/' + data.customerId;
                        ValidateCustomerStatusAndId(validateCustomer);
                    }
                    else if (data.data != "") {
                        $('#SwipeMessage').dialog('destroy').remove();
                        showExceptionPopupMsg(data.data);
                    }
                },
                error: function (data) {
                    $('#IDConfirmMessage').dialog('destroy').remove();
                    showExceptionPopupMsg(data);
                },
                beforeSend: function () {
                    showSpinner();
                },
                complete: function () {
                    hideSpinner();
                }
            });
            $("#CardNumber").val(protected_pan);
            $("#CVV").val(protected_cvv);
        }
        else {
            $("#SwipeMessage").fadeOut(500, function () {
                $('#SwipeMessage').dialog('destroy').remove();
            });
            $("#MaskCardNumber").val(cardNumber);
            $("#CardNumber").val(protected_pan);
            $("#CVV").val(protected_cvv);
            $("#MaskCardNumber").keydown();
            $("#MaskCardNumber").focus();
        }
    }

    function getCardNumber(str) {
        if (str == '')
            return;

        var track_data = "";
        var track1 = "";
        var track1_ccn = "";
        var in_track_1 = true;
        var track1_caret1_found = false;

        track_data = str;

        for (var i = 0; i < track_data.length; i++) {
            if (in_track_1) {
                if (!track1_caret1_found) {
                    c = track_data[i];
                    if ((c != '%') && (c != 'B') && (c != '^')) {
                        track1_ccn += c;
                    }

                    if (c == '^') {
                        track1_caret1_found = true;
                        track1 += c;
                        break;
                    }
                }
            }
        }
        return track1_ccn;
    }

    function SetFocus() {
        $("#input_1").focus().attr('style', 'color:#fff');
    }


    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }

    function ProcessCard() {
        var obj = $("#dyntext");
        if ($("#input_1")[0].value != '')
            obj[0].innerHTML = "Processing Card, Please wait...";
        else
            obj[0].innerHTML = "Swipe card to find customer";
    }

    function maskSwipeCardNumber(cardNumber) {
        switch (cardNumber.length) {
            case 16:
                setMaxLength(19);
                $("#input_1").val("**** **** **** " + cardNumber.substring(12, 16)).attr('style', 'color:black');
                break;
            case 17:
                setMaxLength(20);
                $("#input_1").val("**** **** **** *" + cardNumber.substring(13, 17)).attr('style', 'color:black');
                break;
            case 18:
                setMaxLength(21);
                $("#input_1").val("**** **** **** **" + cardNumber.substring(14, 18)).attr('style', 'color:black');
                break;
        }
    }

    function setMaxLength(maxlength) {
        $("#input_1").attr("maxLength", maxlength)
    }

    function ValidateCard(cardNumber) {
        if (cardNumber.length > 0) {

            var swipeSearch = '@Url.Action("SearchCustomerFromSwipe","CustomerSearch")';

            $.ajax({
                type: "GET",
                url: swipeSearch + '?cardNumber=' + cardNumber,
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                data: {},
                success: function (data) {
                    if (handleException(data)) {
                        return;
                    }
                    var obj = $("#dyntext");
                    showExceptionPopupMsg(obj.innerHTML);

                    obj.innerHTML = "Confirm identification by verifying s Issued Id";
                    showExceptionPopupMsg(obj.innerHTML);

                    $("#input_1").attr("value", "yo");
                    $("#input_1").attr("disabled", "disabled");
                    $("#idConfirmed").css("display", "block");
                },
                error: function (data) {
                    showExceptionPopupMsg(defaultErrorMessage);

                }
            });
        }
        else {
            var obj = $("#dyntext");
            obj.innerHTML = "Card not detected!<br> Please swipe your card.";
            $("#idConfirmed").css("display", "none");

        }
    }

</script>

<br />
<div id="dyntext" class="txt_center">Swipe card to find customer </div>
<div class="swipe_card_btn_wrap">
    <input type="text" name="test" id="input_1" onkeyup="ProcessCard()" maxlength="21" />
    <input type="button" value="Cancel" onclick="javascript:$('#SwipeMessage').dialog('destroy').remove();" />
    <input id="idConfirmed" type="submit" value="Identification Confirmed" onclick="" class="hide" />
</div>
